.articles-block
  background: linear-gradient(180deg, #211870, #211870) no-repeat bottom
  background-size: 100% calc(100% - 270px)
  padding-bottom: 100px

  &-title, h2
    margin-bottom: 32px
    font-weight: 600
    font-size: 24px
    line-height: 28px

  .articles-list
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    .article
      width: 24%
      background: #fff
      border-radius: 10px
      margin: 10px 0

      @media (max-width: $lg)
        width: 49%

      @media (max-width: $sm)
        width: 100%

      img
        width: 100%
        height: 200px
        object-fit: cover
        border-radius: 10px 10px 0 0

      &-desc
        padding: 10px 15px
        box-sizing: border-box
        height: calc(100% - 200px - 10px)
        display: flex
        flex-direction: column
        justify-content: space-between

        a, span
          text-decoration: none
          color: $color-black
          font-weight: 600
          line-height: 1.5
          margin-bottom: 47px
          display: block

      &-author
        display: flex
        justify-content: space-between

        a, span
          margin: 0

.more-events
  text-decoration: none
  display: block
  max-width: 238px
  font-weight: 600
  line-height: 1.4
  padding: 14px 35px
  background-clip: padding-box
  background-color: #e64e6c
  color: #fff
  text-transform: uppercase
  border: 6px solid rgba(230, 78, 108, .2)
  border-radius: 80px
  font-size: 16px
  margin: 30px auto 0
  text-align: center

  @media (max-width: $xs)
    width: 100%
    max-width: 150px