.articles-block
  padding-bottom: 100px

  &-title, h2
    font-family: 'Raleway', sans-serif
    font-weight: 900
    font-size: 54px
    line-height: 63px
    margin-top: 90px
    margin-bottom: 50px
    color: #1A2237
    @media (max-width: $et)
      font-size: 28px
      line-height: 33px
      margin-top: 60px
      margin-bottom: 25px
    @media (max-width: $et)
      font-size: 28px
      line-height: 33px
      margin-top: 60px
      margin-bottom: 25px
    @media (max-width: $xs)
      text-align: center
      font-size: 30px
      line-height: 35px

  .articles-list
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    .article
      width: 24%
      margin: 10px 0

      @media (max-width: $lg)
        width: 49%

      @media (max-width: $sm)
        width: 100%

      img
        width: 100%
        object-fit: cover
        border-radius: 12px

      &-desc
        padding: 10px 15px
        box-sizing: border-box
        height: calc(100% - 200px - 10px)
        display: flex
        flex-direction: column
        justify-content: space-between

        a
          text-decoration: none
          color: $color-black
          font-weight: 600
          line-height: 1.5
          margin-bottom: 12px
          display: block

      &-author
        display: flex
        justify-content: space-between

        a
          margin: 0
          font-weight: 100

  .article-more-events
    text-align: center
    margin-top: 50px

    .more-events
      font-weight: 600
      color: #fff
      text-align: center
      background: $color-pink
      padding: 21px 60px
      border-radius: 18px
      border: none
      outline: none
      cursor: pointer
      text-transform: uppercase
      transition: background .3s linear
      text-decoration: none

      &[disabled]
        background: #C3BFC0 !important
        cursor: not-allowed

      &:hover
        background: $color-pink-dark

      @media (max-width: $xs)
        width: 100%

