.bottom-screen
  background-image: url(../img/bottom_screen_mask_group.png), linear-gradient(288.51deg, #241970 -24.55%, #241970 57.04%, #E64E6C 140.98%)
  background-size: cover, contain
  background-repeat: no-repeat
  overflow: hidden

  @media (min-width: 1920px)
    background-position: 0 0, 0 0
    background-attachment: fixed, fixed
  @media (max-width: $et)
    background-size: auto, contain
  @media (max-width: $mmd)
    background-image: linear-gradient(288.51deg, #241970 -24.55%, #241970 57.04%, #E64E6C 140.98%)

  &__title
    font-family: 'Raleway', sans-serif
    font-style: normal
    font-weight: 800
    font-size: 44px
    line-height: 62px
    color: #fff

    @media (min-width: $mlg)
      max-width: 625px

    max-width: 370px

    @media (max-width: 1366px)
      font-size: 34px
      line-height: 48px
    @media (max-width: $lg)
      font-size: 26px
      line-height: 35px
      margin: 0 auto
    @media (max-width: $sm)
      font-size: 20px
      line-height: 28px
      margin: 0 auto

  .container
    padding-top: 125px
    padding-bottom: 140px
    box-sizing: border-box
    position: relative

    @media (max-width: $et)
      padding-top: 60px
      padding-bottom: 60px
    @media (max-width: $lg)
      padding-top: 55px
      padding-bottom: 55px
      text-align: center
    @media (max-width: $sm)
      padding-top: 50px
      padding-bottom: 50px

  .button-home-page
    margin-top: 82px

    @media (max-width: $et)
      margin-top: 56px
    @media (max-width: $lg)
      margin-top: 25px
      font-size: 14px
      border-radius: 10px
      padding: 15px 50px
    @media (max-width: $sm)
      margin-top: 237px
      font-size: 17px
      line-height: 20px
      border-radius: 18px
      padding: 20px 50px
    @media (max-width: $xs)
      width: 100%
    @media (max-width: 340px)
      margin-top: 25px

  svg
    position: absolute

    @media (max-width: 340px)
      display: none

    &.bulb
      width: 104px
      height: 107px

      &.first-bulb
        top: 280px
        right: 796px

        @media (max-width: $et)
          width: 67px
          height: 68px
          top: 185px
          right: 622px
        @media (max-width: $lg)
          width: 43px
          height: 44px
          right: unset
          top: 98px
          left: -3px
        @media (max-width: $sm)
          width: 39px
          height: 39px
          top: 12px
          left: 12px

      &.second-bulb
        width: 141px
        height: 145px
        top: 61px
        right: -5px
        transform: rotate(25deg)

        @media (max-width: $et)
          width: 95px
          height: 98px
          top: 43px
          right: 107px
        @media (max-width: $lg)
          width: 55px
          height: 56px
          top: 13px
          right: -48px
        @media (max-width: $sm)
          width: 49px
          height: 49px
          top: 116px
          right: calc(10vw + 9px)
          transform: rotate(64deg)
        @media (max-width: $xs)
          right: 9px

      &.third-bulb
        width: 141px
        height: 145px
        bottom: 82px
        right: 57px
        transform: rotate(95deg)

        @media (max-width: $et)
          width: 95px
          height: 98px
          bottom: 88px
          right: 147px
        @media (max-width: 1366px)
          bottom: 45px
        @media (max-width: $lg)
          width: 55px
          height: 56px
          bottom: 100px
          right: 23px
          transform: rotate(92deg)
        @media (max-width: $sm)
          display: none

    &.chart
      width: 301px
      height: 178px
      right: 221px
      bottom: 64px

      @media (max-width: $et)
        width: 195px
        height: 115px
        right: 252px
        bottom: 77px
      @media (max-width: 1366px)
        bottom: 35px
      @media (max-width: $lg)
        width: 113px
        height: 67px
        right: 39px
        bottom: 55px
      @media (max-width: $sm)
        right: calc(10vw + 38px)
        bottom: 130px
      @media (max-width: $xs)
        right: 38px

    &.coin
      width: 54px
      height: 56px
      top: 86px
      right: 441px

      @media (max-width: $et)
        width: 35px
        height: 36px
        top: 60px
        right: 395px
      @media (max-width: $lg)
        width: 21px
        height: 21px
        top: 23px
        right: 118px
      @media (max-width: $sm)
        display: none

    &.diagram
      width: 290px
      height: 142px
      top: 172px
      right: 126px

      @media (max-width: $et)
        width: 185px
        height: 91px
        top: 114px
        right: 193px
      @media (max-width: $lg)
        width: 108px
        height: 53px
        top: 64px
        right: 9px
      @media (max-width: $sm)
        width: 130px
        height: 68px
        top: 170px
        right: calc(10vw + 40px)
      @media (max-width: $xs)
        right: 40px

    &.message
      width: 267px
      height: 138px
      top: 92px
      right: 536px

      @media (max-width: $et)
        width: 173px
        height: 87px
        right: 456px
        top: 64px
      @media (max-width: $lg)
        width: 100px
        height: 50px
        right: unset
        top: 31px
        left: 26px
      @media (max-width: $sm)
        width: 110px
        height: 55px
        top: 150px
        left: calc(10vw + 31px)
      @media (max-width: $xs)
        left: 31px

    &.rocket
      width: 162px
      height: 177px
      top: 194px
      right: 395px

      @media (max-width: $et)
        width: 104px
        height: 114px
        top: 129px
        right: 366px
      @media (max-width: $lg)
        width: 59px
        height: 66px
        top: 130px
        right: unset
        left: 108px
        transform: rotate(37deg)
      @media (max-width: $sm)
        width: 84px
        height: 91px
        top: 0
        right: 0
        left: 0
        bottom: 0
        margin: auto
        transform: unset

    &.search
      width: 266px
      height: 273px
      bottom: 58px
      right: 586px

      @media (max-width: $et)
        width: 170px
        height: 174px
        bottom: 75px
        right: 489px
      @media (max-width: 1366px)
        bottom: 33px
      @media (max-width: $lg)
        width: 102px
        height: 104px
        right: unset
        bottom: 59px
        left: 15px
      @media (max-width: $sm)
        bottom: 140px
        left: calc(10vw + 39px)
      @media (max-width: $xs)
        bottom: 140px
        left: 39px