.career-steps

  .container
    max-width: 1560px

    .step-sign-course
      text-align: center
      margin-bottom: 55px
      margin-top: 25px

    .button-sign-course-career
      font-weight: 600
      color: #fff
      text-align: center
      background: $color-pink
      padding: 21px 60px
      border-radius: 18px
      border: none
      outline: none
      cursor: pointer
      text-transform: uppercase
      transition: background .3s linear

      &[disabled]
        background: #C3BFC0 !important
        cursor: not-allowed

      &:hover
        background: $color-pink-dark

      @media (max-width: $xs)
        width: 100%

  h2
    font-weight: 900
    font-size: 46px
    line-height: 54px
    color: #1A2237

    @media (max-width: $lg)
      font-size: 36px
      line-height: 42px
      padding: 45px 0

    @media (max-width: $sm)
      font-size: 18px
      line-height: 22px

  .steps
    display: flex
    justify-content: space-between

    @media (max-width: $et)
      flex-wrap: wrap

    @media (max-width: $lg)
      justify-content: center

    @media (max-width: $sm)
      justify-content: space-around

    .splide__track
      margin-bottom: 75px

    .splide__list
      column-gap: 68px

    .step
      max-width: 247px
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
      position: relative
      cursor: pointer

      &:hover
        .step-blocks
          svg
            rect
              fill: #E64E6C
              transition: fill .3s linear

      @media (max-width: $lg)
        width: 32%
        margin-bottom: 30px

      @media (max-width: $sm)
        width: 50%

      &:not(:last-child):after
        content: ""
        position: absolute
        background: url('../img/icons/arrow-steps.svg') no-repeat
        background-size: contain
        height: 14px
        right: -24%
        top: 25%
        width: 47px

      &-blocks
        text-align: center
        width: 247px
        border: 2px solid rgba(36, 25, 112, 0.1)
        box-sizing: border-box
        border-radius: 28px
        position: relative

        svg
          position: absolute
          left: 27%
          bottom: -2%

      &-number
        margin-bottom: 10px

      &-desc
        margin-top: 30px
        font-size: 20px
        font-weight: 600
        line-height: 23px
        text-align: center
        color: #1A2237

        @media (max-width: $lg)
          font-size: 15px
          line-height: 17px
          margin-top: 15px
