
.faq-block 
  background-repeat: no-repeat
  background-size: cover
  max-width: 1593px
  width: 100%
  height: 388px
  color: #fff
  align-items: center
  margin: 56px auto 70px auto
  display: flex
  justify-content: flex-end

  @media (max-width: $lg)
    height: 260px

  @media (max-width: $md)
    background-image: linear-gradient(11.82deg,#241970 31.89%,#e64e6c 108.8%) !important

  &-text
    width: 100%
    max-width: 412px
    font-size: 24px
    margin-top: 80px
    margin-right: 105px
    line-height: 28px

    @media (max-width: $lg)
      margin-right: 0
      margin-left: auto
      font-size: 18px
      line-height: 21px
      margin-bottom: 38px
      color: #fff
      padding: 0 25px

    @media (max-width: $xs)
      margin-right: auto

    h3
      margin: 5px 0

    a
      display: block
      width: auto
      max-width: 270px
      color: #fff
      text-decoration: none
      background: $color-pink
      border-radius: 5px
      font-size: 16px
      margin-top: 40px
      box-sizing: content-box
      padding: 20px 10px
      line-height: 19px
      text-align: center
      text-transform: uppercase
      transition: background .3s linear

      @media (max-width: $xs)
        margin-left: auto
        margin-right: auto

      &:hover
        background: $color-pink-dark

