.home
  .container
    max-width: 1588px
    box-sizing: unset
    padding: 0 24px
    width: unset

    @media(max-width: $bp1366)
      max-width: 1234px
    @media(max-width: $mbp800)
      max-width: 680px

.first-screen
  overflow: hidden
  color: $color-white
  position: relative

  @media (max-width: $bp800)
    flex-wrap: wrap

  video
    object-fit: cover
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 100%

    @media (min-width: 1366px)
      min-height: 860px
    @media (max-width: $mbp800)
      min-height: 950px

    @media (max-width: $bp620)
      display: none

  .container
    position: relative
    z-index: 2
    min-height: 100vh

    @media (min-width: 800.02px)
      display: flex
      justify-content: space-between
    @media (min-width: 1366.02px)
      min-height: 860px
    @media (min-width: $sm)
      min-height: 600px

    @media (max-width: $mbp620)
      height: auto
    @media (max-width: 1024px)
      flex-wrap: wrap
      min-height: 950px
    @media (max-width: $bp620)
      background: $color-bg-blue
      background-repeat: no-repeat
      background-size: contain
      background-position: top center

  &__content
    max-width: 668px
    padding: 100px 0

    &.offline
      max-width: 750px

    @media (max-width: $mbp800)
      padding: 100px 0 46px
    @media (max-width: $xs)
      padding: 25px 0
      display: flex
      flex-direction: column

  h1, h2
    font-size: 73px
    font-weight: 700
    line-height: 84px
    letter-spacing: .21rem
    display: block
    color: #FBF9FA
    margin-top: 82px
    margin-bottom: 0

    @media (max-width: $bp1366)
      font-size: 46px
      max-width: 420px
      letter-spacing: 0.04em
      line-height: 57px
    @media (max-width: $mbp800)
      font-size: 56px
      line-height: 69px
    @media (max-width: $xs)
      font-size: 28px
      line-height: 36px
      text-align: center
      max-width: unset

  &__info
    margin-top: 82px
    max-width: 668px

    @media (max-width: $bp1366)
      margin-top: 0
    @media (max-width: $mbp800)
      margin-top: 42px
      margin-bottom: 8px
    @media (max-width: $xs)
      margin-bottom: 5px

  &__text
    font-family: 'Raleway', sans-serif
    font-style: normal
    font-weight: 500
    font-size: 24px
    line-height: 1.6
    margin: 10px 0 25px
    color: #FBF9FA
    font-feature-settings: 'pnum' on, 'lnum' on

    &.title 
      font-size: 28px
      margin: 2em auto
      line-height: 1.2

    @media(max-width: $bp1366)
      font-size: 18px
      line-height: 27px
      margin-top: 5px
      margin-bottom: 18px
      max-width: 500px
    @media(max-width: $mbp800)
      font-size: 22px
      line-height: 35px
      max-width: unset
      margin-bottom: 37px
    @media (max-width: $xs)
      font-size: 15px
      line-height: 20px
      text-align: center
      font-feature-settings: 'pnum' on, 'lnum' on
      margin: 10px auto
      max-width: 248px

    strong
      @media(max-width: $xs)
        &::before
          content: '\a'
          white-space: pre

  button
    font-size: 16px
    font-weight: bold
    color: #fff
    text-transform: uppercase
    text-align: center
    background: $color-pink
    padding: 21px 60px
    margin: 55px 0 80px
    border-radius: 18px
    border: none
    outline: none
    cursor: pointer
    transition: background .3s linear

    @media (max-width: $bp1366)
      border-radius: 10px
      font-size: 14px
      line-height: 16px
      padding: 17px 26px
      margin: 35px 0 50px

    @media (max-width: $xs)
      width: 100%
      order: 1
      border-radius: 14px
      margin-top: 18px
      padding: 22px 26px
      margin: 25px 0 40px

    &[disabled]
      background: #C3BFC0 !important
      cursor: not-allowed

    &:hover
      background: $color-pink-dark

  &__cities

    &-title
      font-size: 22px
      line-height: 1.2
      font-weight: bold
      margin-bottom: 25px

      @media (max-width: $bp1366)
        font-size: 18px
        line-height: 21px
        margin-bottom: 17px
      @media (max-width: $mbp800)
        margin-bottom: 28px
      @media (max-width: $xs)
        text-align: center
        font-size: 18px
        line-height: 26px
        margin: 0 auto 10px
        max-width: 230px

    &-list
      display: flex
      flex-wrap: wrap

      @media (max-width: $xs)
        display: none
        background-color: rgba(168, 156, 214, .25)
        border-radius: 18px
        padding: 20px
        margin-bottom: 20px

      &.showList
        display: block
        margin-top: 20px
        margin-bottom: 0

    &-item
      line-height: 1.2
      font-weight: 600
      color: #ffffff
      text-align: center
      letter-spacing: 0.02em
      text-transform: uppercase
      padding: 20px 37px
      border: 1px solid #ffffff
      border-radius: 18px
      margin: 0 20px 20px 0
      text-decoration: none
      min-width: 120px
      transition: color .3s, border-color .3s
      box-sizing: border-box
      overflow: hidden
      position: relative

      &.disabled
        background: #C3BFC0 !important

      @media (max-width: $bp1366)
        border-radius: 12px
        padding: 13px 37px
        margin: 0 14px 16px 0
      @media (max-width: $xs)
        display: block
        margin-right: 0

      &.cities-item-hidden
        display: none

      &::before
        content: url('../img/list-arrow.svg')
        position: absolute
        top: 50%
        left: 0
        transform: translate(-20px, -50%)
        transition: transform .3s

      span
        display: inline-block
        transition: transform .3s

      @media (min-width: $mbp800)
        &:hover:not(.disabled)
          border-color: $color-pink
          color: $color-pink

          &:before
            transform: translate(20px, -50%)

          span
            transform: translateX(15px)

    &-chooseItem
      line-height: 1.2
      font-weight: 600
      color: #ffffff
      letter-spacing: 0.02em
      text-transform: uppercase
      padding: 20px 23px
      border: 1px solid #ffffff
      border-radius: 18px
      text-decoration: none
      min-width: 120px
      transition: color .3s, border-color .3s
      box-sizing: border-box
      overflow: hidden
      position: relative

      @media (min-width: $mxs)
        display: none

      &::after
        content: ''
        box-sizing: border-box
        display: inline-block
        width: 14px
        height: 14px
        border-width: 7px
        border-color: transparent
        border-top-color: #fff
        border-style: solid
        position: absolute
        right: 23px
        top: 0
        bottom: 0
        margin: auto
        transform: translateY(5px)

      &.showList
        $colorWhite: rgba(255, 255, 255, .5)
        color: $colorWhite
        border-color: $colorWhite

        &::after
          border-top-color: $colorWhite

  &__aside
    box-sizing: border-box
    max-width: 415px
    padding: 189px 30px 100px 50px
    background: rgba(168, 156, 214, 0.25)
   

    @media (max-width: $et)
      max-width: 348px
    @media (max-width: $bp1366)
      padding: 130px 30px 100px 36px
    @media (max-width: 1024px)
      max-width: 100%
      width: 100%
      background-color: transparent
      padding: 0
      margin-bottom: 5%
      display: flex
      justify-content: space-between
      align-items: flex-start
    @media (max-width: $bp620)
      flex-wrap: wrap
      padding-top: 16px
      padding-bottom: 46px

    &-item
      @media (max-width: 1024px)
        background-color: rgba(168, 156, 214, 0.25)
        border-radius: 14px
        text-align: center
        padding: 20px 12px 12px
        width: calc(100% / 3)
        min-height: 172px
      @media (max-width: $bp620)
        width: 100%
        padding: 22px 18px 25px
        background-color: #ffffff
      @media (max-width: $xs)
        padding-top: 30px
        padding-bottom: 16px
        min-height: 90px

      &:not(:last-of-type)
        margin-bottom: 50px

        @media (max-width: $bp1366)
          margin-bottom: 30px
        @media (max-width: 1024px)
          margin-right: 20px
          margin-bottom: 0
        @media (max-width: $bp620)
          margin-right: 0
          margin-bottom: 20px

    &-item__image
      width: 78px
      height: 78px
      @media (max-width: $bp1366)
        width: 50px
        height: 50px
      @media (max-width: 1024px)
        margin: 0 auto
        margin-bottom: 10px
      @media (max-width: $mxs)
        width: 63px
        height: 63px
        display: none

      img
        max-width: 100%
        max-height: 100%

        @media (max-width: $mxs)
          display: none

    &-item__title
      font-size: 18px
      line-height: 1.3
      font-weight: 800
      margin: 10px 0 10px

      @media (max-width: $bp1366)
        margin-top: 0
        font-size: 15px
        line-height: 18px
        margin-bottom: 5px
      @media (max-width: 1024px)
        margin-top: 10px
      @media (max-width: $bp620)
        color: $color-link-gray
        font-size: 18px
        text-align: center
        margin-top: 0

    &-item__text
      font-family: 'Raleway', sans-serif
      font-size: 16px
      line-height: 24px
      @media (max-width: $bp1366)
        font-size: 13px
        line-height: 19px
      @media (max-width: $bp620)
        color: #535262
        font-size: 16px
        text-align: center
      @media (max-width: $xs)
        padding: 10px 22px 2px
        line-height: 24px