.graduates
  background: url(../img/bottom_screen_mask_group.png) no-repeat, linear-gradient(288.51deg, #241970 -24.55%, #241970 57.04%, #E64E6C 140.98%), #241970
  background-size: cover, auto
  position: relative
  padding: 90px 0 100px

  @media (max-width: $mmd)
    background: linear-gradient(288.51deg, #241970 -24.55%, #241970 57.04%, #E64E6C 140.98%), #241970

  .container
    max-width: 1634px
    .splide__arrow--next
      right: 2em
    .splide__arrow--prev
      left: 2em
    .splide__pagination
      bottom: -2rem
    .splide__pagination__page
      background: #fff
      &.is-active
        background: #e54e6c

  &-title
    width: 100%
    text-align: center
    color: #FBF9FA
    font-weight: 900
    font-size: 54px
    line-height: 63px
    margin-bottom: 60px
    @media (max-width: 1366px)
      font-size: 28px
      line-height: 33px
      margin-bottom: 35px
    @media (max-width: $xs)
      font-size: 30px
      line-height: 35px
      margin-bottom: 25px
    &-purple
      color: #E64E6C
    &-8,
    &-7
      font-size: 90px
      line-height: 106px
      @media (max-width: 1366px)
        font-size: 50px
        line-height: 59px
      @media (max-width: $xs)
        font-size: 30px
        line-height: 35px
    &-8
      margin-top: -5px
    &-7
      margin-top: 5px

  &-list
    display: flex
    position: relative
    list-style: unset
    padding: 0
    margin: 0

    [class|=list]
      display: grid!important

  &-item
    overflow: hidden
    position: relative
    @media (min-width: 1366px)
      &:hover
        overflow: visible
      &:hover > &-description
        opacity: 1
        transition-duration: .3s
    @media (max-width: 1365px)
      &-big
        grid-row:    2 / span 3
        grid-column: span 2
        background: #fff
        border-radius: 10px
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        margin-bottom: 14px

    &:nth-child(1),
    &:nth-child(14),
    &:nth-child(27)
      .graduates-item-description
        left: 100%
        &::before
          left: 25%

    &:nth-child(13),
    &:nth-child(26),
    &:nth-child(39)
      .graduates-item-description
        left: 0
        &::before
          left: 75%
    img
      width: 100%
      height: auto
      border-radius: 18px
      aspect-ratio: 1/1
      object-fit: cover
    &-description
      width: 200px
      left: 50%
      opacity: 0
      background: white
      color: black
      position: absolute
      top: 115%
      z-index: 99
      transform: translateX(-50%)
      border-radius: 10px
      padding: 30px 8px 18px
      &:before
        content: '\A'
        border-style: solid
        border-width: 0 12.5px 21.7px 12.5px
        border-color: transparent transparent #fff transparent
        position: absolute
        left: 50%
        transform: translateX(-50%)
        top: -20px

      &-name
        font-weight: 600
        @media (min-width: 1366px)
          font-size: 14px
        font-size: 16px
        line-height: 16px
        color: #241970
        text-align: center
        padding-bottom: 13px
      &-text
        @media (min-width: 1366px)
          font-size: 12px
        font-size: 14px
        line-height: 14px
        text-align: center
        padding: 20px 12px 0
        @media (min-width: 1366px)
          border-top: 1px solid #E2E2E2
        color: #241970