.grant-chance
  margin: 0 auto
  width: 100%
  max-width: 1920px
  padding: 40px 0
  box-sizing: border-box

  h2
    color: #fff
    font-size: 36px
    line-height: 51px
    font-weight: 800
    max-width: 382px
    padding-left: 85px
    margin: 0

    @media(max-width: 1600px)
      line-height: 39px
      font-size: 26px
      max-width: 281px
    @media(max-width: $bp1366)
      padding-left: 50px
    @media(max-width: $mmd)
      max-width: unset
      margin-bottom: 25px
      text-align: center
      padding-left: unset
    @media(max-width: $mxs)
      font-size: 20px
      line-height: 28px

  &-box
    background: url(../img/take-grant.png) no-repeat, url(../img/bottom_screen_mask_group.png) no-repeat, linear-gradient(267.4deg, #241970 -3.48%, #241970 52.04%, #E64E6C 109.15%)
    background-position: 100% 100%, 0 0, 0 0
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2)
    background-size: contain, cover, auto
    border-radius: 18px
    display: flex
    column-gap: 4.5vw
    padding-top: 64px
    padding-bottom: 43px

    @media(max-width: $bp1366)
      padding-top: 35px
      padding-bottom: 30px
      column-gap: 3.5vw
    @media(max-width: 1200px)
      background: url(../img/bottom_screen_mask_group.png) 0 0 no-repeat, linear-gradient(267.4deg, #241970 -3.48%, #241970 52.04%, #E64E6C 109.15%)
    @media(max-width: $mmd)
      background: linear-gradient(11.82deg, #241970 31.89%, #E64E6C 108.8%), #241970
      background-size: cover, auto
      padding: 35px 60px 40px
      column-gap: unset
      display: block
    @media(max-width: $mmd)
      padding: 20px 25px

    &__form
      max-width: 565px

      @media(max-width: $mmd)
        max-width: unset

  &-flex-box
    display: flex
    column-gap: 26px
    margin-bottom: 26px

    @media (max-width: $bp1366)
      margin-bottom: 15px
      column-gap: 15px
    @media(max-width: $mmd)
      justify-content: center
    @media(max-width: $msm)
      flex-wrap: wrap

    &:not(:last-of-type)
      @media(max-width: $msm)
        display: block
        margin-bottom: unset

    input
      font-size: 16px
      line-height: 21px
      color: #868589
      padding: 15px 20px
      box-sizing: border-box
      width: 270px
      height: 60px
      outline: none
      border: none
      background: #fff
      border-radius: 18px

      @media (max-width: 1600px)
        border-radius: 10px
        width: 228px
        height: 50px
      @media(max-width: $msm)
        margin-bottom: 15px
        width: 100%

    button
      background: $color-pink
      color: #fff
      font-weight: 700
      cursor: pointer
      margin-left: 18px
      font-size: 16px
      line-height: 21px
      padding: 15px 20px
      box-sizing: border-box
      width: 270px
      height: 60px
      outline: none
      border: none
      border-radius: 18px

      @media (max-width: 1600px)
        border-radius: 10px
        width: 228px
        height: 50px
        margin-left: unset
      @media (max-width: $mxs)
        width: 100%

      &:hover
        background: $color-pink-hover

    .custom-select
      width: 270px
      position: relative

      @media (max-width: 1600px)
        width: 228px
      @media(max-width: $msm)
        width: 100%
      &.open .select
        border-radius: 18px 18px 0 0
        @media (max-width: 1600px)
          border-radius: 10px 10px 0 0
      .select
        background: #fff
        border-radius: 18px
        box-sizing: border-box
        color: #868589
        font-size: 16px
        height: 60px
        padding: 15px 20px
        width: 100%
        max-width: 270px
        line-height: 30px
        @media (max-width: 1600px)
          border-radius: 10px
          width: 228px
          height: 50px
          line-height: normal
        @media(max-width: $msm)
          margin-bottom: 15px
          width: 100%
          max-width: unset

      &.open .choose-city
        display: block
        box-shadow: 0 2px 3px rgba(0,0,0,.03)
      .choose-city
        display: none
        width: 100%
        position: absolute
        top: 60px
        left: 0
        background: #fff
        z-index: 1
        border-radius: 0 0 18px 18px
        color: #868589

        @media (max-width: 1600px)
          top: 50px

        &-list
          padding: 10px 10px 10px 20px
          cursor: pointer
          transition-duration: .3s
          &:last-child
            border-radius: 0 0 18px 18px

          &:hover
            background-color: #552c75
            color: #fff

      &::after
        content: ''
        background: url(../img/icons/drop-down.svg) no-repeat
        width: 16px
        background-size: contain
        height: 16px
        right: 17px
        top: 24px
        position: absolute
        pointer-events: none
        transition-duration: .3s
        transform-origin: 50% 30%

        @media(max-width: 1600px)
          top: 20px

      &.open::after
        transform: rotate(180deg)

      //select
      //  -webkit-appearance: none
      //  border: none
      //  border-radius: 18px
      //  box-sizing: border-box
      //  color: #868589
      //  font-size: 16px
      //  height: 60px
      //  line-height: 21px
      //  outline: none
      //  padding: 15px 20px
      //  width: 100%
      //  @media (max-width: 1600px)
      //    border-radius: 10px
      //    width: 228px
      //    height: 50px
      //  @media(max-width: $msm)
      //    margin-bottom: 15px
      //    width: 100%

  .terms-and-cond
    max-width: 250px
    width: 100%
    color: #D9D9D9
    font-size: 14px
    line-height: 19px
    margin: 0
    display: flex
    align-items: flex-start

    @media (max-width: 1600px)
      font-size: 12px
      line-height: 16px
      max-width: 228px
    @media (max-width: $msm)
      text-align: center
      flex: 1 1 100%
      order: 1
      max-width: unset
      margin-top: 15px

    a
      color: currentColor

    .check_tnc
      position: relative
      display: inline-block

      input
        position: absolute
        z-index: -1
        opacity: 0

        &:checked + label::after
          display: inline-block

        & + label
          display: inline-flex
          align-items: center
          user-select: none
          cursor: pointer

          &::before
            content: ''
            display: inline-block
            width: 12px
            height: 12px
            border: 1px solid #adb5bd
            border-radius: 50%
            margin-right: 15px

          &::after
            content: ''
            width: 13px
            height: 3px
            border-left: 1px solid #adb5bd
            border-bottom: 1px solid #adb5bd
            position: absolute
            left: 2px
            bottom: 13px
            transform: rotate(-60deg)
            display: none

  .form-result
    display: none
    text-align: center
    color: #fff