.join-form
  background: url(../img/purple-bg.png) no-repeat
  background-size: cover
  margin: 0 auto
  width: 100%
  max-width: 1920px
  height: 300px
  box-sizing: border-box
  padding: 80px 0 0

  @media (max-width: $md)
    padding: 30px 0 0

  @media (max-width: $xs)
    height: 380px
    background: linear-gradient(11.82deg, #241970 31.89%, #e64e6c 108.8%), #241970
    background-size: cover, auto

  &-title
    font-weight: bold
    font-size: 24px
    line-height: 28px
    color: #FBF9FA
    margin-bottom: 45px

    @media (max-width: $md)
      text-align: center
      font-size: 18px
      font-weight: 800
      margin-bottom: 20px
      line-height: 20px

  form
    display: flex
    justify-content: space-between
    flex-wrap: wrap

    @media (max-width: $md)
      justify-content: center

    input:not([type="checkbox"]), button
      outline: none
      width: calc(33.33% - 35px)

      @media (max-width: $md)
        width: calc(50% - 20px)
        margin: 10px

      @media (max-width: $xs)
        width: 100%

    input
      background: #fff
      border: 1px solid #EDEDED
      box-sizing: border-box
      border-radius: 3px
      vertical-align: middle

    .personal-conditions
      margin-top: 40px
      width: 100%
      text-align: center
      color: #fff
      font-size: 12px
      line-height: 14px

      @media (max-width: $md)
        margin-top: 10px