.more-info
  background: url(../img/bottom_screen_mask_group.png) no-repeat, linear-gradient(289.49deg, #241970 -2.21%, #241970 58.32%, #E64E6C 117.52%)
  background-size: cover, auto
  display: flex
  flex-wrap: wrap
  
  padding-top: 53px
  padding-left: 80px
  padding-right: 80px
  padding-bottom: 48px
  border-radius: 18px

  @media(max-width: $bp1366)
    padding-top: 45px
    padding-left: 48px
    padding-bottom: 40px
  @media(max-width: $mmd)
    display: block
    padding: 38px 30px
  @media (max-width: $msm)
    background: linear-gradient(11.82deg, #241970 31.89%, #E64E6C 108.8%), #241970
    padding: 26px 10px 30px

  &-section
    padding: 40px 0
    box-sizing: border-box
    position: relative

    @media (max-width: $mxs)
      padding-top: 120px

  &-content
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    width: 47%

    @media (max-width: $md)
      justify-content: center 
      width: 100%
      
      > *
        width: 100%

    h2
      font-family: 'Raleway', sans-serif
      font-weight: 800
      font-size: 30px
      line-height: 44px
      color: #fff
      margin-top: 0
      margin-bottom: 22px

      @media(max-width: $bp1366)
        font-size: 26px
        line-height: 34px
        margin-bottom: 10px
      @media(max-width: $mmd)
        font-size: 22px
        line-height: 31px
        text-align: center
        max-width: unset
      @media (max-width: $mxs)
        font-size: 18px
        line-height: 25px

  &-text
    font-family: 'Raleway', sans-serif
    font-weight: 600
    font-size: 22px
    line-height: 28px
    color: #fff
    max-width: 540px
    margin-top: 0
    margin-bottom: 22px

    @media(max-width: $bp1366)
      font-size: 18px
      line-height: 25px
      margin-bottom: 16px
    @media(max-width: $mmd)
      text-align: center
      margin: 0 auto 25px
      max-width: 600px
    @media (max-width: $mxs)
      max-width: unset
      font-size: 16px
      line-height: 22px
      margin-bottom: 14px
    a
      color: #fff

  &-bid-text
    font-family: 'Raleway', sans-serif
    font-weight: 800
    font-size: 17px
    line-height: 25px
    color: rgba(255, 255, 255, 0.9)
    margin-top: 0
    margin-bottom: 25px
    max-width: 500px

    @media(max-width: $bp1366)
      font-size: 15px
      line-height: 22px
      margin-bottom: 16px
    @media(max-width: $mmd)
      text-align: center
      margin: 0 auto 18px
      max-width: 465px
    @media (max-width: $mxs)
      max-width: 278px
      font-size: 14px
      line-height: 21px

  &-button
    margin-top: 10px
    margin-bottom: 30px
    margin-top: 10px
    text-align: center

    @media(max-width: $bp1366)
      margin-bottom: 20px

    .button-home-page
      text-transform: uppercase
      
    a
      display: inline-flex
      align-items: center
      background: #fff
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05)
      border-radius: 18px
      font-family: 'Raleway', sans-serif
      font-weight: 800
      font-size: 14px
      line-height: 16px
      color: #23186D
      box-sizing: border-box
      padding: 5px 20px 5px 5px
      text-decoration: none

      @media(max-width: $bp1366)
        border-radius: 12px
        padding-right: 18px
      @media(max-width: $mxs)
        border-radius: 18px

    img
      margin-right: 17px
      width: 50px
      height: 50px

      @media(max-width: $bp1366)
        width: 40px
        height: 40px
        margin-right: 12px
      @media(max-width: $mxs)
        width: 50px
        height: 50px

  &-social
    grid-row-start: 2
    grid-row-end: 3
    grid-column-start: 1
    grid-column-end: 2

    &-title
      font-weight: 800
      font-size: 17px
      line-height: 24px
      color: #fff
      margin-top: 0
      margin-bottom: 20px

      @media(max-width: $bp1366)
        margin-bottom: 15px
      @media(max-width: $mmd)
        text-align: center
        max-width: 275px
        margin: 0 auto 15px
      @media (max-width: $mxs)
       max-width: unset
       font-size: 16px
       line-height: 22px

    &-items
      display: flex
      gap: 45px
      max-width: 560px
      width: 100%
      padding-left: 0
      margin: 0

      @media (max-width: $bp1366)
        gap: 24px
      @media(max-width: $mmd)
        max-width: 450px
        margin: 0 auto
      @media (max-width: $mxs)
        flex-wrap: wrap
        max-width: 230px
        gap: 8px 24px

      li
        flex: 0 1 100%
        position: relative
        list-style-type: none

        @media (max-width: $bp1366)
          flex: 0 1 auto

        &::before
          content: ''
          display: inline-block
          width: 60px
          height: 60px
          border: 10px solid #ffffff
          border-radius: 18px
          box-sizing: border-box
          position: absolute
          left: 0
          margin: auto

          @media (max-width: $bp1366)
            border-radius: 12px
            width: 55px
            height: 55px
          @media (max-width: $mxs)
            border-radius: 18px
            width: 60px
            height: 60px

        img
          filter: brightness(4)

          @media (max-width: $bp1366)
            width: 55px
            height: 55px
          @media (max-width: $mxs)
            width: 60px
            height: 60px

  &-image
    width: 53%
    box-sizing: border-box
    padding-top: 44px
    padding-left: 8px

    @media (max-width: $bp1366)
      padding-left: 20px
      padding-top: 68px
    @media(max-width: $mmd)
      padding: 0
      margin-bottom: 5px
      width: 100%

    .img-wrapper
      max-width: 820px

      @media (max-width: $bp1366)
        max-width: 660px
      @media(max-width: $mmd)
        max-width: 256px
        margin: 0 auto
      @media(max-width: $mxs)
        width: 290px
        max-width: 100%
      @media(max-width: 340px)
        width: 270px

    img
      max-width: 100%
      height: auto
      line-height: 0
      width: 100%