.mountains
  background: url('../img/background-graduation-left.png') no-repeat bottom left, url('../img/background-graduation-right.png') no-repeat bottom right
  background-size: 880px, 640px

  @media(max-width: 1700px)
    background-size: 40%, 26%
  @media(max-width: $mlg)
    background-size: 500px, 340px
  @media(max-width: $msm)
    background: none

  .container
    position: relative

  &-flex
    display: flex
    padding-top: 110px
    padding-bottom: 110px

    @media(max-width: 1700px)
      align-items: flex-start
    @media (max-width: $mlg)
      flex-wrap: wrap
      padding-top: 50px
      padding-bottom: 50px

  &-items
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: flex-start
    flex: 0 1 44%
    padding-left: 5vw
    column-gap: 70px

    @media(max-width: 1700px)
      column-gap: 20px
    @media (max-width: $mlg)
      box-sizing: border-box
      flex: 0 1 60%
      padding-left: 5vw
      margin: 0 auto
    @media (max-width: $mmd)
      flex: 0 1 80%
      padding-left: 0
    @media(max-width: $mxs)
      flex: 1 1 100%
      margin-bottom: 50px

  &-item
    box-sizing: border-box
    width: calc(100% / 2 - 60px)
    @media(max-width: 1700px)
      width: calc(100% / 2 - 20px)
    @media(max-width: $mlg)
      margin-bottom: 50px
      width: calc(100% / 2 - 60px)
    @media(max-width: $msm)
      width: calc(100% / 2 - 20px)
    @media(max-width: $mxs)
      width: 100%
      text-align: center
      margin-bottom: 8px

    &-top
      font-family: 'Raleway', sans-serif
      color: #1A0E73
      display: flex
      align-items: flex-end

      @media (max-width: $mxs)
        justify-content: center
        margin-bottom: 8px

      .number
        font-size: 90px
        font-weight: 900
        line-height: 106px
        @media(max-width: 1700px)
          font-size: 70px
          line-height: 82px
        @media(max-width: $msm)
          font-size: 50px
          line-height: 106px

      .ancillary
        font-weight: 900
        font-size: 60px
        line-height: 70px
        @media(max-width: 1700px)
          font-size: 50px
          line-height: 59px
        @media(max-width: $msm)
          font-size: 30px
          line-height: 70px

    &-bottom
      font-family: 'Raleway', sans-serif
      font-weight: bold
      font-size: 20px
      line-height: 28px
      @media(max-width: 1700px)
        font-size: 16px
        line-height: 22px
      @media(max-width: $msm)
        font-size: 20px
        line-height: 28px
        padding: 0 20px

  &-about
    box-sizing: border-box
    flex: 0 1 56%
    padding-left: 2vw
    @media(max-width: 1700px)
      padding-left: 4vw
    @media (max-width: 1366px)
      padding-left: 2vw
    @media (max-width: $mlg)
      flex: 0 1 60%
      padding-left: 5vw
      margin: 0 auto
    @media (max-width: $mmd)
      flex: 0 1 80%
      padding-left: 0
    @media(max-width: $mxs)
      flex: 1 1 100%
      text-align: center

    &-top
      color: #1A2237
      font-size: 30px
      font-weight: 700
      line-height: 45px
      margin-top: 0
      margin-bottom: 32px
      max-width: 565px

      @media(max-width: 1700px)
        font-size: 20px
        line-height: 30px
        margin-bottom: 8px
        max-width: 480px

      span
        font-size: 54px
        font-weight: 900
        line-height: 44px
        color: $color-pink-hover
        display: block
        margin-bottom: 18px

        @media(max-width: 1700px)
          font-size: 28px
          line-height: 42px
          margin-bottom: 0
        @media(max-width: $mxs)
          font-size: 30px
          line-height: 35px
          margin-bottom: 10px

    &-bottom
      font-size: 22px
      line-height: 33px
      color: #535262
      max-width: 480px
      margin: 0

      @media(max-width: 1700px)
        font-size: 16px
        line-height: 24px
        max-width: 430px

  .stiven-image
    position: absolute
    bottom: 20px
    right: 6px

    @media(max-width: 1700px)
      width: 172px
    @media(max-width: 800px)
      right: 0
    @media(max-width: $msm)
      position: static
      margin: 0 auto
    @media (max-width: $mxs)
      width: 130px
      margin-bottom: 6px
    img
      max-width: 100%
      height: auto