.nearest-courses
  //max-width: 1920px
  //margin: 0 auto
  padding-top: 66px

  @media(max-width: 1366px)
    padding-top: 16px
  @media(max-width: $md)
    padding-top: 46px
  @media(max-width: $xs)
    padding-top: 26px


  h2
    font-weight: 900
    font-size: 54px
    line-height: 63px
    color: #1A2237

    @media(max-width: 1366px)
      font-size: 28px
      line-height: 33px
    @media (max-width: $sm)
      font-size: 30px
      line-height: 35px
      text-align: center

  &-list
    margin: 50px 0 0 0
    padding-bottom: 50px

    @media (max-width: $sm)
      margin: 0

  .course
    position: relative

    &:hover
      svg
        transition: fill .3s linear
        fill: #ffffff

      .course-bottom
        a
          font-size: 16px
          transition: font-size .3s

      .course-shadow
        visibility: visible
        opacity: 1


    .arrow-next
      background: url('../img/arrow-black-right.svg') no-repeat
      width: 20px
      height: 20px
      position: absolute
      right: 10px
      bottom: 60px

      @media (max-width: 1366px)
        right: 22px

    &-top
      border-radius: 18px 18px 0 0
      height: 150px
      box-sizing: border-box
      background: #241970
      padding: 34px
      font-weight: bold
      font-size: 18px
      line-height: 23px
      color: #fff
      display: flex
      align-items: center
      position: relative
      cursor: pointer

      @media(max-width: 1366px)
        height: 113px

      p
        max-width: 140px
        position: absolute

      span
        display: inline-block
        margin-left: 40px

    &-shadow
      display: block
      width: 90%
      margin: 0 auto
      height: 20px
      background: url('../img/bottom-shadow.png') no-repeat #fbf9fa
      background-size: contain
      visibility: hidden
      opacity: 0
      transition: opacity .3s

    &-bottom
      position: relative
      height: 100px
      background: #fff
      border-radius: 0 0 18px 18px
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.15)
      display: flex
      overflow: hidden
      scroll-snap-type: x mandatory
      scroll-behavior: smooth
      -webkit-overflow-scrolling: touch

      @media(max-width: 1366px)
        height: 69px

      a
        display: block
        padding: 30px 35px
        box-sizing: border-box
        scroll-snap-align: start
        width: 100%
        flex-shrink: 0
        text-decoration: none
        color: #000
        font-style: normal
        font-weight: bold
        font-size: 14px
        line-height: 25px
        transition: font-size .3s

        @media(max-width: 1366px)
          padding: 10px 35px

        span
          display: block
          font-weight: normal
          font-feature-settings: 'pnum' on, 'lnum' on

    svg
      fill: #3A2D8F
      position: absolute
      &.code
        width: 126px
        height: 96px
        top: 12px
        right: 22px

        @media(max-width: 1366px)
          width: 80px
          height: 63px
          right: 32px

      &.lines
        width: 71px
        height: 13px
        top: 20px
        left: 42px
        @media(max-width: 1366px)
          width: 45px
          height: 9px
          top: 18px
          left: 32px