.navigation.pagination
  display: flex
  justify-content: center

  .page-numbers, a
    &.current
      font-size: 25px

    display: inline-block
    background: #e3405f
    padding: 10px 25px
    margin: 3px 0
    border-radius: 3px
    color: #fff
    text-decoration: none

.pagination-links
  &-all
    text-align: center
    padding: 16px

    input
      width: 100%
      max-width: 236px
      position: absolute
      height: 50px
      opacity: 0
      z-index: 10
      cursor: pointer
      border-radius: 0
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none

      &:checked
        ~ .pagination-links-list
          opacity: 1

        ~ .pagination-links-button:after
          transform: rotate(-90deg)
        
  &-button
    display: inline-block
    width: 100%
    max-width: 200px
    background-color: #e3405f
    border: none
    border-radius: 30px
    color: #fcfcfc
    cursor: pointer
    font-size: 18px
    padding: 10px 18px

    &:after
      display: inline-block
      content: '»'
      transform: rotate(90deg)
      font-size: 20px
      font-weight: 700
      margin-left: 15px
      cursor: pointer
      transition: .3s

  &-list
    margin: 16px auto
    opacity: 0
    visibility: visible
    transition: .3s visibility,.3s opacity

    .page-numbers
      background: #e3405f
      border-radius: 3px
      color: #fff
      display: inline-block
      margin: 3px 0
      padding: 2px
      text-decoration: none
      min-width: 20px
      height: 20px
      text-align: center
      font-size: 14px
      line-height: 20px

      &.current
        font-size: 18px
        padding: 6px
