.partners
  &-title
    font-weight: 600
    font-size: 24px
    line-height: 28px

  &-list
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center

    a
      display: block
      width: 10%
      margin: 25px

      @media(max-width: $lg)
        width: 20%

      @media(max-width: $sm)
        width: 30%

      img
        object-fit: contain
        width: 100%