@keyframes moveSlideshow
  50%
    transform: translateX(-25%)
  100%
    transform: translateX(-50%)

.partners
  background: url('../img/partners-background.png') no-repeat
  background-size: cover
  @media(max-width: $xs)
    background: unset
  &-title
    font-weight: 900
    font-size: 35px
    line-height: 75px
    color: #1A2237
    max-width: 973px
    width: 100%
    padding-top: 45px
    @media(max-width: $lg)
      font-size: 25px
      line-height: unset
    @media(max-width: $sm)
      text-align: center


  &-list
    display: flex
    flex-wrap: nowrap
    align-items: center
    transform: translateX(0)
    animation: moveSlideshow 20s linear infinite
    position: absolute
    width: auto

    &-container
      position: relative
      height: 100px
      overflow: hidden
      margin-top: 75px
      @media(max-width: $xs)
        margin-top: 40px

    a
      display: block
      padding: 0 54px

      img
        object-fit: contain
        height: auto
        width: auto
        max-height: 74px
        max-width: 264px
        @media(max-width: $tg)
          max-height: 64px
          max-width: 228px
        @media(max-width: $md)
          max-height: 53px
          max-width: 192px
        @media(max-width: $xs)
          max-height: 45px
          max-width: 131px