#email-subscription
  .popup
    background: url(/wp-content/themes/deveducation/assets/img/popup_bg_top_left.svg), url(/wp-content/themes/deveducation/assets/img/popup_bg_bottom_right.svg),$color-white
    background-repeat: no-repeat
    background-size: 19%, 19%
    background-position: 0 0, 100% 100%
    min-height: unset

    &-title
      font-size: 26px
      line-height: 31px


.popup-overlay
  display: none
  z-index: 4
  position: fixed
  top: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, .75)

  .popup
    width: 414px
    padding: 75px 57px 40px
    background: url(/wp-content/themes/deveducation/assets/img/popup_bg_top_left.svg) left 0/30%,url(/wp-content/themes/deveducation/assets/img/popup_puntera.svg) right/35%,url(/wp-content/themes/deveducation/assets/img/popup_bg_bottom_right.svg) right 100%/30%,$color-white
    background-repeat: no-repeat
    border-radius: 18px
    box-sizing: border-box
    margin: auto
    transform: translate(-50%, -50%)
    position: fixed
    top: 50%
    left: 50%
    min-height: 586px

    @media (max-width: $xs)
      width: calc(100% - 40px)
      padding: 25px 40px 20px

    @media(max-height: 587px)
      min-height: 450px
     

    &-close
      position: absolute
      content: ""
      width: 16px
      height: 16px
      background: url(../img/cancel.svg) no-repeat
      background-size: contain
      top: 26px
      right: 32px
      cursor: pointer
      @media(max-height: 520px)
        top: 13px
        right: 16px

    &-title
      text-align: center
      margin-bottom: 20px
      font-family: 'Raleway', sans-serif
      font-style: normal
      font-weight: 800
      font-size: 35px
      line-height: 41px
      color: $color-link-gray

      @media (max-width: $xs)
        font-size: 24px
        line-height: 32px
        margin-bottom: 10px

    input, .select, select
      outline: none
      margin-bottom: 15px
      color: #2d2d2d
      box-sizing: border-box
      font-size: 16px
      padding: 16px 11px
      position: relative
      width: 100%
      z-index: 2
      background-color: #fff
      border: 1px solid #D6D6D6
      border-radius: 18px

    .custom-select
      position: relative

      select
        -webkit-appearance: none

      .select
        padding: 13px 11px 12px
        border-bottom: unset

      &.open .select
        border-radius: 18px 18px 0 0

      &.open .choose-city,
      &.open .courses-list
          display: block
      .choose-city, .courses-list
        display: none
        width: 100%
        box-sizing: border-box
        position: absolute
        top: 50px
        left: 0
        background: #fff
        z-index: 11
        border-radius: 0 0 18px 18px
        border: 1px solid #D6D6D6
        border-top: unset
        color: #868589
        max-height: 137px
        overflow: auto
        &-list
          padding: 10px
          cursor: pointer
          transition-duration: .3s
          &:last-child
            border-radius: 0 0 18px 18px

          &:hover
            background: #190f73
            color: white
      &.open::after
        transform: rotate(180deg)
        transform-origin: center

      &::after
        content: ""
        background: url(../img/down-arrow.svg) no-repeat
        width: 16px
        background-size: contain
        z-index: 10
        height: 16px
        right: 17px
        top: 17px
        position: absolute
        pointer-events: none
        transition-duration: .3s

    button
      margin-top: 30px
      font-weight: 600
      width: 100%
      background: $color-pink
      border-radius: 18px
      padding: 0

      @media(max-height: 586px)
        margin-top: 10px