.about
  display: flex
  margin-top: 50px
  padding-bottom: 50px
  position: relative

  h1
    margin-top: 0

  &.origin
    .map-pointer
      background: $color-purple

  @media (min-width: $mlg) and (max-width: $et)
    padding-bottom: 200px

  @media (max-width: $lg)
    flex-wrap: wrap
    margin-top: 50px

  .map-pointer
    position: absolute
    right: auto
    font-weight: bold
    background: #f32951
    color: $color-white
    font-size: 14px
    padding: 4px 17px
    white-space: nowrap
    text-decoration: none

    &.disabled
      background: #d8d8d8 !important

    &.spb
      left: 33%
      top: 37%

    &.baku
      left: 62%
      top: 76%

    &.israel
      left: 39.5%
      top: 91%

    &.kharkiv
      left: 43%
      top: 59%

    &.dnipro
      right: 66%
      top: 62%

    &.kyiv
      right: 71%
      top: 57%

      @media (max-width: $mxs)
        top: 54%

    &.ekb
      left: 81%
      top: 43%

      @media (max-width: $mxs)
        left: 75%

    &.kazan
      left: 64%
      top: 46%

      @media (max-width: $mxs)
        top: 50%

    &.current
      background: $color-purple

    &.pointer-left:before
      content: ""
      position: absolute
      background-image: url(../img/point.svg)
      display: block
      height: 35px
      background-position: 43px 45px
      width: 35px
      left: -35px
      top: -3px

    &.pointer-right:after
      content: ""
      position: absolute
      background-image: url(../img/point.svg)
      display: block
      height: 35px
      background-position: 43px 45px
      width: 35px
      right: -35px
      top: -3px

    @media (max-width: $mxs) 
      font-size: 12px
      padding: 2px 6px

  .about-description
    width: 30%
    font-size: 16px
    line-height: 150%
    margin-bottom: 30px
    display: block

    @media (max-width: $lg)
      width: 100%

    h3
      font-size: 24px
      margin-bottom: 30px
      font-weight: 700

    .get-more
      margin-top: 20px

      span
        font-weight: 700
        font-size: 16px
        color: #000
        line-height: 150%
        margin-bottom: 12px
        display: block

      a
        display: inline-block
        background: $color-pink
        cursor: pointer
        line-height: 19px
        text-align: center
        text-transform: uppercase
        transition: background .3s
        color: #fff
        border-radius: 5px
        text-decoration: none
        padding: 20px 106px
        font-weight: 600

        &:hover
          background: $color-pink-dark

  .about-map
    width: 50%

    &-new
      background: #211870
      color: #fff
      padding: 10px
      width: 80%
      margin: 0 auto
      text-align: center
      font-size: 1.2rem

      @media (max-width: $sm)
        width: 100%

      span
        background: #e64e6c
        padding: 5px
        border-radius: 5px

      a
        display: inline-block
        margin-top: 10px
        margin-right: 10px
        color: #fff
        font-size: 1.2rem
        text-decoration: none
        font-weight: bold

    @media (max-width: $lg)
      width: 100%
      overflow: hidden

    .map-cities
      width: 650px
      height: 658px
      position: relative
      margin: 70px auto 0

      @media (max-width: $sm)
        width: 100%
        height: auto
        left: -12%
      
      .map-img
        @media (max-width: $sm)
          width: 100%
          height: auto
          display: block
          
.advantages
  margin-top: 80px

  .advantage
    display: flex
    max-width: 400px
    margin-top: 30px

    @media (min-width: $mxs) and (max-width: $lg)
      max-width: initial

    &-image
      margin: 20px

    &-text
      margin-left: 20px

    &-title
      font-size: 16px
      font-weight: 700

    &-desc
      margin-top: 15px
      font-size: 14px
      line-height: 150%

.about-info
  max-width: 395px
  box-shadow: 0 7px 15px rgba(0, 0, 0, .02)
  border-left: 5px solid #e64e6c
  background: #fff
  align-self: flex-end
  padding: 45px 32px
  position: absolute
  right: 0

  @media (min-width: $mlg) and (max-width: $et)
    max-width: initial
    bottom: 50px
    left: 0

  @media (max-width: $lg)
    width: 95%
    position: initial
    box-sizing: border-box
    max-width: initial
    margin: 20px auto 0

  .info-title
    font-weight: 800
    font-size: 24px
    line-height: 130%
    color: #000
    margin-bottom: 13px

    @media (max-width: $lg)
      font-size: 18px

.city-info
  padding: 95px 0
  background-repeat: no-repeat
  background-color: #f6f0f0
  background-size: contain
  background-position: right

  @media (max-width: $lg)
    padding: 40px 0 400px
    background-position: bottom

  @media (max-width: $md)
    padding: 40px 0 300px

  @media (max-width: $xs)
    padding: 40px 0 180px

  .about-college
    max-width: 600px
    color: #000
    font-size: 16px
    line-height: 150%
    padding-left: 40px
    box-sizing: border-box

    @media (max-width: $lg)
      max-width: initial
      padding: 0 25px

.statistics-list
  background: #fff
  padding: 85px 0

  @media (max-width: $lg)
    padding: 35px 0

  .container
    display: flex
    justify-content: space-between

    @media (max-width: $lg)
      flex-wrap: wrap

  .statistics
    text-align: center

    @media (max-width: $md)
      width: 50%

    @media (max-width: $sm)
      width: 100%

    &-number
      font-size: 49px
      line-height: 58px
      font-feature-settings: "pnum", "lnum" on
      font-weight: 700
      color: #e64e6c

.inspire
  background-repeat: no-repeat
  background-color: #1f1173
  background-size: contain
  height: 460px

  @media (max-width: $lg)
    height: 900px
    background-position: bottom

  @media (max-width: $md)
    height: 800px

  .container
    display: flex
    justify-content: flex-end

  &-text
    width: 50%
    padding: 110px 30px 0 0
    box-sizing: border-box

    @media (max-width: $lg)
      width: 100%
      padding: 25px

  &-title
    font-style: normal
    font-weight: 700
    font-size: 24px
    line-height: 28px
    color: #fbf9fa
    margin-bottom: 32px

    @media (max-width: $lg)
      font-weight: 600

  &-description
    font-size: 16px
    line-height: 150%
    margin-bottom: 55px
    color: #fbf9fa

  a
    text-align: center
    background: $color-pink
    border-radius: 5px
    color: #fff
    text-decoration: none
    font-weight: 500
    display: block
    font-size: 18px
    line-height: 52px
    transition: background .3s
    width: about
    max-width: 250px

    @media (max-width: $lg)
      margin: 0 auto

    &:hover
      background: $color-pink-dark

.team
  margin-top: 125px

  .join-form
    @media (min-width: $met)
      width: 80%
      margin: 0 auto
    @media (max-width: $xs)
      padding-bottom: 40px

    form
      display: flex
      justify-content: space-between
      padding: 0 25px 80px 25px

      @media (max-width: $lg)
        flex-wrap: wrap
        justify-content: center
        padding: 0

      .form-input, .button
        width: 30%
        outline: none

        @media (max-width: $lg)
          width: 70%
          margin-bottom: 20px
          box-sizing: border-box

        @media (max-width: $xs)
          width: 90%
          margin-bottom: 20px
          box-sizing: border-box

  .container-fluid
    background: linear-gradient(180deg, #211870 0, #211870) no-repeat bottom
    background-size: 100% calc(100% - 100px)

  h2
    color: #fff
    margin-top: 50px
    padding: 0 20px

    @media (max-width: $lg)
      margin: 50px auto 25px
      font-size: 16px
      line-height: normal
      width: 70%
      padding: 0

    @media (max-width: $xs)
      width: 90%

.bottom-list
  margin-top: 30px

.top-list, .bottom-list
  display: flex
  flex-wrap: wrap

  @media (max-width: $lg)
    justify-content: center

.teammate
  box-sizing: border-box
  display: flex
  min-height: 320px
  background: #fff
  box-shadow: 0 7px 15px rgba(0, 0, 0, .02)
  padding: 30px 25px
  width: calc(33.33% - 20px)
  max-width: 500px
  margin: 0 20px 20px 0
  font-size: 14px
  line-height: 150%
  color: #000

  @media (max-width: $et)
    flex-wrap: wrap
    justify-content: center
    width: calc(50% - 20px)

  @media (max-width: $sm)
    width: 100%

  &-text
    margin-left: 39px

    @media (max-width: $lg)
      margin: 0

  &-name
    font-weight: 700
    font-size: 16px
    line-height: 150%
    margin-bottom: 10px

    @media (max-width: $lg)
      margin-top: 35px

  &-position
    font-size: 16px
    color: #9d9d9d
    margin-bottom: 5px

.bottom-list .teammate
  min-height: auto