@import "../blocks/_pagination"

.article
  position: relative
  color: #585858
  font-size: 21px
  margin: 100px auto 50px auto

  @media (min-width: $met)
    max-width: 890px

  @media (max-width: $lg)
    width: 100%
    margin: 30px auto

  @media (max-width: $sm)
    font-size: 16px
    line-height: normal

  code
    display: block
    overflow-x: scroll
    max-width: 100%

  .breadcrumbs
    font-size: 16px
    margin-bottom: 15px

  h1
    color: $color-black
    font-weight: 700
    font-size: 40px
    line-height: 40px
    margin: 50px 0 45px

    @media (max-width: $sm)
      font-size: 22px
      line-height: normal

  h2
    color: #222
    font-size: 32px
    line-height: 38px
    margin: 70px 0 40px

  img
    display: block
    max-width: 100%
    max-height: 100%
    height: auto
    width: auto
    margin: auto

    @media (max-width: $xs)
      max-width: 100%

  a
    color: $color-dark

    strong
      font-weight: normal

.articles
  margin-top: 50px

  @media (max-width: $lg)
    margin-top: 50px

  &-bg
    background-image: url(../img/mail-box.svg), url(../img/squar.svg)
    background-repeat: no-repeat, no-repeat
    background-position: left calc((100% - 1004px) / 2) bottom 0, left bottom -85px
    padding-bottom: 180px

    @media (max-width: $lg)
      background-image: url(../img/squar.svg)
      background-position: left bottom 0
      background-repeat: no-repeat

  &-list
    display: flex
    flex-wrap: wrap

  figure
    font-family: 'Roboto', sans-serif
    font-style: normal
    font-weight: 400
    width: 30%
    padding: 0
    //border-radius: 7px
    box-shadow: 0 0 40px 2px rgba(34, 34, 33, .13)
    overflow: hidden
    transition: all .3s
    margin: 0 3% 3% 0
    height: inherit
    background: #fff

    @media (max-width: $lg)
      width: 46.5%

    @media (max-width: $md)
      width: 100%
      margin: 0 0 30px

    &:hover
      box-shadow: 0 0 5px 0.5px rgba(34, 34, 33, .13)

    img
      @media (max-width: $lg)
        display: none

    figcaption
      padding: 10px 24px 30px
      display: flex
      justify-content: space-between
      flex-direction: column
      box-sizing: border-box
      height: calc(100% - 240px)

      .author
        display: flex
        margin-top: 40px
        justify-content: space-between
        align-items: center

        a, span
          line-height: normal
          font-weight: bold
          color: #3b3b3b
          font-size: 16px
          text-decoration: none
          text-transform: uppercase

        time
          color: #3b3b3b
          font-size: 16px

    a
      font-family: 'Roboto', sans-serif
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 30px
      margin: 0
      color: $color-black
      text-decoration: none

      @media (max-width: $lg)
        font-size: 20px
        line-height: normal

      @media (max-width: $md)
        font-size: 16px
        line-height: normal

    img
      width: 100%
      object-fit: cover
      height: 240px

.article-author
  span, a
    font-size: 16px
    font-weight: bold
    text-transform: uppercase
    position: relative
    padding-right: 20px
    text-decoration: none
    color: #3b3b3b

    &:after
      background-color: #7a7979
      border-radius: 2px
      content: ""
      display: block
      height: 3px
      position: absolute
      right: 5px
      top: 7px
      width: 3px

  time
    font-size: 16px
    font-family: sans-serif

.share-buttons
  position: absolute
  left: -100px
  top: 10px

  @media (max-width: $et)
    left: -5vw

  @media (max-width: $lg)
    display: flex
    margin-bottom: 20px
    position: unset

  @media (max-width: $sm)
    display: none

  .share-fb, .share-tg, .share-vk
    width: 32px
    display: block
    height: 32px
    margin-bottom: 5px

  .share-fb
    background: url(../img/icons/fb.svg)
    background-size: contain

  .share-tg
    background: url(../img/icons/tg.svg) no-repeat
    background-size: contain
    width: 27px
    height: 27px
    margin-left: 2px

    @media (max-width: $lg)
      margin: 2px 2px 0 0

  .share-vk
    background: url(../img/icons/vk.svg)
    background-size: contain

.join-us
  background: $color-purple
  text-align: center
  padding: 40px 0 50px

  h2
    font-weight: bold
    color: $color-white
    margin-bottom: 20px
    line-height: 28px

  button
    cursor: pointer
    background: $color-pink
    border: none
    outline: none
    color: #fff
    text-transform: uppercase
    padding: 0 100px
    border-radius: 3px
    max-width: 100%
    font-size: 18px
    line-height: 52px
    width: auto
    transition: background-color .3s

    &:hover
      background: $color-pink-hover

.load-more
  button
    font-family: 'Raleway', sans-serif
    width: 300px
    display: block
    margin: 0 auto
    border: 3px solid #e3405f
    text-align: center
    line-height: 50px
    border-radius: 30px
    cursor: pointer
    color: #000
    font-weight: 600
    outline: none
    font-size: 18px
    transition: all .3s ease
    background: #fff

    &:hover
      background: $color-pink-hover
      color: #fff

.mail-subscription
  max-width: 600px
  margin: 120px auto 0 auto
  padding-left: 285px

  @media (max-width: $lg)
    max-width: 100%
    margin-top: 50px
    padding: 0
    width: 100%

  .subscription-title
    font-style: normal
    font-weight: 800
    color: #000
    font-size: 36px
    line-height: 48px
    margin: 0 auto

  ul
    width: 100%
    padding: 0

    li
      margin: 20px

      &::marker
        color: $color-pink

  form
    display: flex

    @media (max-width: $xs)
      flex-wrap: wrap

    input
      width: 50%
      font-weight: 500
      background-color: #e8e8e8
      border: 1px solid #e1e1e1
      border-radius: 5px
      color: #787878
      display: block
      font-size: 18px
      padding: 12px 11px
      outline: none
      position: relative
      margin-right: 20px

      @media (max-width: $xs)
        width: 100%
        margin-bottom: 20px

    button
      cursor: pointer
      border: none
      background-color: $color-pink-hover
      color: #fcfcfc
      transition: background-color .3s
      width: 236px
      outline: none
      border-radius: 30px
      font-size: 18px
      line-height: 52px

      &:hover
        background: $color-pink-dark
        color: #fff

.preloader
  display: none
  margin: 0 auto 30px
  width: 100px
  animation: spin 4s linear infinite

  img
    width: 100%

@keyframes spin
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

.article-preloader
  display: block
  width: 80px
  height: 80px
  margin: 80px auto

  @media (min-width: $mmd)
    display: none

  &:after
    content: " "
    display: block
    width: 64px
    height: 64px
    margin: 8px
    border-radius: 50%
    border: 6px solid #e3405f
    border-color: #e3405f transparent #e3405f transparent
    animation: lds-dual-ring 1.2s linear infinite

@keyframes lds-dual-ring
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)