@import "../blocks/_pagination"

.author-block
  display: flex
  margin-top: 100px
  color: $color-black

  @media (max-width: $lg)
    flex-wrap: wrap

  .author-short
    width: 40%
    text-align: center

    @media (max-width: $lg)
      width: 100%

    .author-position
      font-weight: 700
      font-size: 24px
      line-height: 28px
      margin-bottom: 5px

    .author-name h1
      font-weight: 700
      font-size: 48px
      line-height: 110%
      margin-bottom: 16px

    .author-image
      margin-bottom: 40px

      img
        border-radius: 100%

    .author-status
      font-size: 18px
      line-height: 21px
      margin-bottom: 25px
    
    .author-socials
      @media (max-width: $mlg)
        margin-bottom: 25px

      >a
        display: inline-flex
        margin: 8px
        text-decoration: none
        color: inherit

        svg
          margin-right: 4px
        
            
            
  .author-desc
    width: 60%

    @media (max-width: $lg)
      width: 100%

.author-posts
  margin: 70px 0 30px
  display: flex
  flex-wrap: wrap

  + .pagination
    margin-bottom: 35px

  .article
    width: calc(25% - 20px)
    background: #fff
    border-radius: 10px
    margin: 10px
    font-size: 16px

    @media (max-width: $lg)
      width: calc(33.33% - 20px)

    @media (max-width: $sm)
      width: calc(50% - 20px)

    @media (max-width: $xs)
      width: calc(100% - 20px)

    img
      width: 100%
      height: 200px
      object-fit: cover
      border-radius: 10px 10px 0 0

    .post-desc
      padding: 10px 15px
      box-sizing: border-box
      height: calc(100% - 200px - 10px)
      display: flex
      flex-direction: column
      justify-content: space-between

      a
        text-decoration: none
        color: $color-black
        font-weight: 600
        line-height: 1.5
        margin-bottom: 47px
        display: block

    .post-author
      display: flex
      justify-content: space-between

      a
        margin: 0

.more-articles
  display: flex
  justify-content: center
  align-items: center
  font-size: 24px
  line-height: 150%
  color: #000
  font-weight: 600
  cursor: pointer
  max-width: fit-content
  margin: 0 auto 30px

  span
    font-weight: normal
    display: inline-block
    margin-left: 10px
    font-size: 50px

.have-questions
  background: $color-purple
  color: $color-white
  padding: 76px 0 48px

  h3
    font-weight: bold
    font-size: 24px
    margin: 0 auto 30px
    text-align: center

    @media (max-width: $lg)
      margin-top: 20px

  .button
    margin: 35px auto 0
    display: block
    outline: none

    @media (max-width: $lg)
      margin-top: 10px

.want-to
  span
    text-align: center
    display: block

  h3
    margin: 0

.preloader
  display: none
  margin: 0 auto 30px
  width: 100px
  animation: spin 4s linear infinite

  img
    width: 100%

@keyframes spin
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)