.contacts
  position: relative
  bottom: -50px

.contact-block
  display: flex
  border-left: 5px solid #e64e6c
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, .02)
  box-shadow: 0 7px 15px rgba(0, 0, 0, .02)
  height: 314px
  margin-top: 30px
  background: #fff
  overflow: hidden

  @media (max-width: $lg)
    height: auto
    flex-wrap: wrap

  .contact-info
    width: 487px
    padding: 40px 48px 28px
    box-sizing: border-box

    @media (max-width: $lg)
      width: 100%

    @media (max-width: $xs)
      font-size: 14px
      padding: 20px

    .city-title h1
      font-weight: bold
      font-size: 24px
      margin-bottom: 35px

    .city-address, .city-phone, .city-email
      margin-bottom: 10px
      padding-left: 40px

    .city-address
      background: url("../img/icons/map.svg") no-repeat
      padding-left: 40px

    .city-phone
      background: url("../img/icons/phone.svg") no-repeat

    .city-email
      background: url("../img/icons/mail.svg") no-repeat

  .contact-map
    width: calc(100% - 487px)

    @media (max-width: $lg)
      width: 100%

  embed
    width: 100%
    height: 100%
    min-height: 300px

.have-questions
  background: $color-purple
  color: $color-white
  padding: 76px 0 48px

  h2
    font-weight: bold
    font-size: 24px
    margin: 0 auto 30px
    text-align: center

    @media (max-width: $lg)
      margin-top: 20px

  .causes
    display: flex
    justify-content: space-between
    margin-top: 30px

    @media (max-width: $lg)
      flex-wrap: wrap
      justify-content: center

    .cause
      padding-left: 80px
      max-width: 280px

      @media (max-width: $lg)
        margin-bottom: 35px

      &:nth-child(1)
        background: url('../img/life-up.svg') no-repeat

      &:nth-child(2)
        background: url('../img/book.svg') no-repeat

      &:nth-child(3)
        background: url('../img/mountain.svg') no-repeat

  .button
    margin: 35px auto 0
    display: block
    outline: none

    @media (max-width: $lg)
      margin-top: 10px

.contacts-subdomain
  margin-top: 70px
  line-height: 0
  position: relative

  .contact-info
    bottom: -50px
    left: 0
    line-height: normal
    position: absolute
    width: 487px
    padding: 40px 48px 28px
    box-sizing: border-box
    background: #fff

    @media (max-width: $lg)
      width: 100%

    @media (max-width: $xs)
      font-size: 14px
      padding: 20px

    .city-title h1
      font-weight: bold
      font-size: 24px
      padding: 0
      margin: 0 0 35px

    .city-address, .city-phone, .city-email
      margin-bottom: 10px
      padding-left: 40px

    .city-address
      background: url("../img/icons/map.svg") no-repeat
      padding-left: 40px

    .city-phone
      background: url("../img/icons/phone.svg") no-repeat

    .city-email
      background: url("../img/icons/mail.svg") no-repeat

.contacts-origin
  .contact-block:not(:nth-child(3))
    display: none

div[class^="selected-city_"]
  display: none

.select-city
  &-input
    width: 0
    height: 0
    opacity: 0
    z-index: -1
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

    &:checked + label
      border-color: #e64e6c
      background-color: #e64e6c
      color: #fff

  &-label
    position: relative
    display: inline-block
    font-weight: 500
    border: 1px solid
    border-radius: 50px
    color: #211870
    padding: 6px 14px
    margin-right: 10px
    cursor: pointer

    @media (max-width: $xs)
      margin-bottom: 10px

#select-city_0:checked ~ .contact-info .selected-city_0 
  display: flex

#select-city_1:checked ~ .contact-info .selected-city_1 
  display: flex

#select-city_2:checked ~ .contact-info .selected-city_2
  display: flex

#select-city_3:checked ~ .contact-info .selected-city_3 
  display: flex

#select-city_4:checked ~ .contact-info .selected-city_4 
  display: flex

#select-city_5:checked ~ .contact-info .selected-city_5 
  display: flex

#select-city_6:checked ~ .contact-info .selected-city_6
  display: flex

#select-city_7:checked ~ .contact-info .selected-city_7 
  display: flex
