.certificate-status
  font-size: 26px
  font-weight: bold
  text-align: center

.our-courses
  margin-top: 50px

  &-list
    display: flex
    flex-wrap: wrap

    a
      width: calc(33.33% - 18px)
      background-color: #fdf2f4
      background-repeat: no-repeat, no-repeat
      background-position: 33px 48px, right 0 top 17px
      display: block
      margin: 0 18px 18px 0
      padding: 33px 40px 22px 120px
      box-sizing: border-box
      text-decoration: none
      font-size: 14px
      line-height: 1.5
      color: $color-black

      @media (max-width: $et)
        width: calc(50% - 18px)

      @media (max-width: $lg)
        width: 100%
        margin: 0 0 18px

      @media (max-width: $xs)
        background-position: 20px 20px, 100% 100%
        background-size: auto, 160px


      .course-title
        font-weight: 700
        font-size: 18px
        line-height: 21px
        margin-bottom: 15px

      .course-desc
        @media (max-width: $xs)
          display: none

.nearest-courses
  margin-top: 50px

  &-list
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    span
      display: block
      max-width: 285px

    div
      @media (max-width: $sm)
        width: 100%
        margin-bottom: 15px

    @media (max-width: $xs)
      justify-content: center

  .nearest-courses-city
    display: block
    font-weight: 600
    width: 285px
    text-decoration: none
    color: #000
    background-color: #fdf2f4
    background-repeat: no-repeat, no-repeat
    background-position: top 50% right 18px, 0
    background-size: auto, auto
    margin-bottom: 20px
    padding: 30px 38px
    position: relative
    white-space: nowrap
    box-sizing: border-box

    @media (max-width: $sm)
      width: 100%

  .nearest-course
    margin-bottom: 10px
    font-weight: 600
    color: $color-pink
    display: block
    font-size: 16px
    line-height: 1.5
    text-decoration: none
    background-image: url('../img/list-arrow.svg')
    background-position: left 4px top 3px
    background-repeat: no-repeat
    background-size: 16px
    padding-left: 45px

    .course-time
      font-weight: normal
      color: #333
      line-height: 1.5

.courses-questions
  background: $color-purple
  color: $color-white
  padding: 76px 0 48px
  margin-top: 100px

  h2
    font-weight: bold
    font-size: 24px
    text-align: center
    margin: 0 auto !important

    @media (max-width: $lg)
      margin-top: 20px

  span
    display: block
    text-align: center

  button
    margin: 20px auto 0
    display: block
    outline: none

    @media (max-width: $lg)
      margin-top: 10px

.courses-form
  background-color: #fff
  position: relative
  margin: 80px 0
  padding: 50px 0

  h2
    font-size: 16px
    line-height: 19px
    color: $color-dark

  form
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    input, select, button
      width: 32%
      padding: 14px 22px
      height: 50px
      box-sizing: border-box
      font-size: 16px
      color: $color-black
      border-radius: 5px
      border: 1px solid #e1e1e1
      outline: none
      margin-bottom: 10px

      @media (max-width: $lg)
        width: 49%

      @media (max-width: $xs)
        width: 100%

    .custom-select
      position: relative
      width: 32%

      @media (max-width: $lg)
        width: 49%

      @media (max-width: $xs)
        width: 100%

      select
        -webkit-appearance: none
        width: 100%

      &:after
        content: ""
        background: url(../img/down-arrow.svg) no-repeat
        width: 16px
        background-size: contain
        z-index: 2
        height: 16px
        right: 17px
        top: 17px
        position: absolute

    button
      cursor: pointer
      color: $color-white
      text-transform: uppercase
      font-weight: 600
      background: $color-pink-hover
      transition: background .3s

      &:hover
        background: $color-pink-dark

.course
  .breadcrumbs
    margin-bottom: 80px

    a:not(:hover), span
      color: #fff

  .top-course
    padding-top: 80px
    padding-bottom: 100px
    background: linear-gradient(90deg, #8e2379, #1d0976)
    background-size: cover

    @media (max-width: $xs)
      padding-top: 80px
      padding-bottom: 0

  &-description
    max-width: 561px
    line-height: 1.56
    font-size: 17px
    color: $color-white
    margin-bottom: 40px

  &-city, &-date
    font-size: 24px
    color: $color-white

    @media (max-width: $lg)
      font-size: 18px

  &-date
    margin-bottom: 40px

  .vacancy
    display: inline-block
    font-size: 18px
    color: #fff
    margin-bottom: 0
    margin-top: 16px
    border: 1px solid #fff
    border-radius: 4px

    .vacancy-title
      display: inline-block
      background: #fff
      box-shadow: 0px 0px 25px rgb(0 0 0 / 5%)
      border-radius: 4px
      padding: 6px 8px
      color: #3A2D8F

    .vacancy-count
      display: inline-block
      background-color: transparent
      box-shadow: 0px 0px 25px rgb(0 0 0 / 5%)
      padding: 6px 18px 6px 14px
      font-weight: 500
      text-align: center

  .vacancy-small
    font-size: 12px
    color: #fff
    margin-top: 8px
    margin-bottom: 8px

    .vacancy-title
      display: inline-block
      background: rgba(255, 255, 255, 0.25)
      box-shadow: 0px 0px 25px rgb(0 0 0 / 5%)
      border-radius: 4px 0px 0px 4px
      padding: 6px 8px

    .vacancy-count
      margin-left: 2px
      display: inline-block
      background: rgba(255, 255, 255, 0.25)
      box-shadow: 0px 0px 25px rgb(0 0 0 / 5%)
      border-radius: 0px 4px 4px 0px
      padding: 6px 8px
      font-weight: 500

  button:not(.splide__arrow)
    color: #fff
    font-weight: bold
    text-transform: uppercase
    border: none
    cursor: pointer
    font-size: 16px
    line-height: 19px
    text-align: center
    border-radius: 5px
    background: $color-pink-hover
    padding: 20px 0
    width: 386px
    outline: none
    transition: background .3s

    &[disabled]
      background: #C3BFC0 !important
      cursor: not-allowed

    &:hover
      background: $color-pink-dark

    @media (max-width: $xs)
      width: 100%

  h3
    font-weight: 600
    margin: 0
    color: #e3405f
    line-height: 2.29
    letter-spacing: .02em
    font-size: 24px

  h1
    margin-top: 0
    margin-bottom: 55px
    font-size: 72px
    line-height: 50px
    font-weight: 900
    color: $color-white

    @media (max-width: $lg)
      font-size: 46px

    @media (max-width: $sm)
      font-size: 30px
      margin-bottom: 45px

  .features-list
    display: flex
    flex-wrap: wrap
    color: #fff
    width: 60%
    margin-top: 100px

    @media (max-width: $tg)
      width: 80%

    @media (max-width: $xs)
      width: 100%
      margin-top: 30px

    .course-feature
      position: relative
      padding-left: 25px
      padding-right: 10px
      box-sizing: border-box
      width: 33.33%
      margin-bottom: 20px


      &:before
        content: ""
        display: block
        width: 9px
        height: 9px
        background: #e64e6c
        -webkit-transform: matrix(.71, -.71, .71, .71, 0, 0)
        -ms-transform: matrix(.71, -.71, .71, .71, 0, 0)
        transform: matrix(.71, -.71, .71, .71, 0, 0)
        position: absolute
        left: 0
        top: 11px

      @media (max-width: $lg)
        width: 100%

    .feature-title
      font-size: 24px
      font-weight: 600
      line-height: normal
      margin-bottom: 10px

.profession-for
  padding: 110px 0

  @media (max-width: $xs)
    padding: 30px 0

  h2
    font-size: 36px
    line-height: 1.53
    letter-spacing: .02em
    text-transform: uppercase
    font-weight: 800
    margin-bottom: 50px

    @media (max-width: $lg)
      font-size: 26px
      line-height: 1.33

  &-list
    display: flex
    justify-content: space-between
    font-size: 18px

    @media (max-width: $lg)
      flex-wrap: wrap

  &-item
    width: 25%

    @media (max-width: $lg)
      width: 100%
      margin-bottom: 15px
      display: flex

  &-image
    margin-bottom: 10px

    img
      width: 100%
      height: auto
      max-width: 78px

    @media (max-width: $lg)
      width: 25%

  &-desc
    @media (max-width: $lg)
      width: 75%
      padding-left: 14px

.how-to-start
  background: url('../img/dark_bg.jpg') no-repeat
  color: #fff
  padding: 80px 0 225px
  background-size: cover

  @media (max-width: $lg)
    background: linear-gradient(90deg,#8e2379,#1d0976)

  h2
    font-size: 36px
    line-height: 1.53
    letter-spacing: .02em
    text-transform: uppercase
    font-weight: 800
    margin-bottom: 50px

  .timeline-steps
    display: flex
    justify-content: space-between
    position: relative

    @media (max-width: $lg)
      flex-direction: column

    &:after
      background: linear-gradient(to right, #53266f 0, #e64e6c 15%, #e64e6c 85%, #53266f 100%)
      content: ""
      height: 5px
      width: 100%
      position: absolute
      top: 86px
      left: 0

      @media (max-width: $lg)
        width: 5px
        height: 100%
        left: 43px
        top: 0

  .timeline-step
    width: 15%
    text-align: center
    position: relative

    @media (max-width: $lg)
      width: 100%
      display: flex
      text-align: left

    &:after
      content: ""
      position: absolute
      display: block
      background-image: url(../img/point.svg)
      background-repeat: no-repeat
      background-size: 100%
      left: 50%
      top: 60px
      transform: translate(-50%, 0)
      width: 56px
      height: 56px
      z-index: 2

      @media (max-width: $lg)
        left: 45px
        top: 10px

    &-number
      font-weight: 600
      font-size: 46px

      @media (max-width: $lg)
        width: 30px

    &-desc
      padding-top: 50px
      box-sizing: border-box
      line-height: 1.56
      font-size: 18px

      @media (max-width: $lg)
        padding-top: 25px
        margin-left: 45px

.info-block
  position: relative
  background: #fff
  display: flex
  justify-content: space-between
  align-items: center
  padding: 63px 80px
  box-sizing: border-box
  border-left: 4px solid $color-pink-hover

  .info-block-button
    @media (max-width: $md)
      width: 100%
      margin-top: 15px

  @media (max-width: $md)
    flex-wrap: wrap
    padding: 25px

  &-text
    max-width: 560px
    font-size: 24px
    line-height: 1.5
    margin-right: 40px

    @media (max-width: $sm)
      font-size: 18px

.course-program
  padding-bottom: 60px

  .info-block
    top: -100px

  h2
    font-size: 36px
    line-height: 1.53
    letter-spacing: .02em
    text-transform: uppercase
    font-weight: 800
    margin-bottom: 50px

  .faq
    padding: 0
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    .full
      width: 100%

    .half
      width: 49%

      @media (max-width: $md)
        width: 100%

    .question-title
      color: $color-black

    ul
      list-style: none
      margin: 0
      padding: 0

      li
        position: relative
        padding-left: 20px

        &:before
          content: ""
          display: block
          width: 9px
          height: 9px
          background: #e64e6c
          -webkit-transform: matrix(.71, -.71, .71, .71, 0, 0)
          -ms-transform: matrix(.71, -.71, .71, .71, 0, 0)
          transform: matrix(.71, -.71, .71, .71, 0, 0)
          position: absolute
          left: 0
          top: 6px

.course-faq
  padding: 100px 0

  @media (max-width: $sm)
    padding: 50px 0

  h2
    font-size: 36px
    line-height: 1.53
    letter-spacing: .02em
    text-transform: uppercase
    font-weight: 800
    margin-bottom: 50px

    @media (max-width: $xs)
      font-size: 23px
      margin-bottom: 30px

  .faq
    padding: 0

    .question-title
      color: $color-black

  .faq-bottom
    line-height: 1.5
    margin: 100px auto 0
    max-width: 540px
    font-size: 24px
    text-align: center

    button
      margin-top: 40px

.salary-block
  display: flex
  justify-content: space-between
  padding: 50px 0
  font-size: 18px

  @media (max-width: $sm)
    flex-wrap: wrap
    padding: 0 0 25px

  .salary-text
    width: 412px

    @media (max-width: $sm)
      width: 100%

  .salary-chart
    width: 50%

    @media (max-width: $sm)
      width: 100%

  h2
    font-size: 36px
    line-height: 1.53
    letter-spacing: .02em
    text-transform: uppercase
    font-weight: 800

.salaries
  .info-block
    top: -100px

.course-resume
  padding: 100px 0 220px
  background: url('../img/dark_bg.jpg') no-repeat
  background-size: cover
  color: #fff

  h2
    font-size: 36px
    line-height: 1.53
    letter-spacing: .02em
    text-transform: uppercase
    font-weight: 800
    margin-bottom: 40px

    @media (max-width: $sm)
      font-size: 23px

  .resume-card
    box-sizing: border-box
    border-left: 4px solid #e3405f
    background-color: #fff
    padding: 70px 85px
    color: $color-black

    @media (max-width: $lg)
      padding: 25px 35px

    @media (max-width: $xs)
      padding: 25px 15px

    .resume-top
      display: flex

      &-title
        margin-left: 25px

      &-name
        font-weight: 700
        font-size: 36px
        margin-bottom: 12px
        line-height: 1.4

        @media (max-width: $sm)
          font-size: 24px

      &-position
        font-size: 24px
        color: #211870

        @media (max-width: $sm)
          font-size: 18px

  img
    @media (max-width: $sm)
      width: 50px
      height: 50px
      
  .resume-skills-list 
    width: 100%
    display: flex
    flex-wrap: wrap
    align-items: flex-start

  .resume-skills
    padding-left: 125px
    box-sizing: border-box
    margin-top: 40px
    display: flex
    flex-wrap: wrap
    width: 100%

    &.half
      width: 50%

      @media (max-width: $sm)
         width: 100%

      ul
        width: 85%

        li
          width: 80%
          
          @media (max-width: $sm)
            width: 100%


    @media (max-width: $lg)
      padding: 0

    &-title
      font-weight: 700
      margin-bottom: 12px
      font-size: 24px
      width: 100%

    ul
      list-style: none
      margin: 0
      padding: 0
      width: 50%

      @media (max-width: $sm)
        width: 100%

      li
        position: relative
        padding-left: 40px
        margin: 10px 0
        width: 50%

        &:before
          content: ""
          display: block
          width: 9px
          height: 9px
          background: #e64e6c
          -webkit-transform: matrix(.71, -.71, .71, .71, 0, 0)
          -ms-transform: matrix(.71, -.71, .71, .71, 0, 0)
          transform: matrix(.71, -.71, .71, .71, 0, 0)
          position: absolute
          left: 0
          top: 7px

.employment
  display: flex
  margin-top: 100px

  @media (max-width: $lg)
    flex-wrap: wrap

  &-features
    &-title
      font-weight: 700
      margin-bottom: 12px
      font-size: 24px
      line-height: 1.5

  &-info
    margin-right: 20%

    @media (max-width: $xs)
      margin: 0

  &-info, &-features
    width: 50%
    max-width: 412px

    @media (max-width: $lg)
      width: 100%
      max-width: 100%

  &-title
    font-size: 36px
    font-weight: 900
    line-height: 1.53
    letter-spacing: .02em
    text-transform: uppercase

    @media (max-width: $xs)
      font-size: 24px
      line-height: normal

  &-desc
    margin-top: 20px

  &-feature
    display: flex
    margin: 30px 0
    line-height: 1.56
    font-size: 18px

    &-image
      margin-right: 25px

.course-reviews
  background: url('../img/dark_bg.jpg') no-repeat
  padding: 80px 0
  color: #fff

  @media (max-width: $sm)
    padding: 40px 0

  h2
    font-size: 36px
    line-height: 1.53
    letter-spacing: .02em
    text-transform: uppercase
    font-weight: 800
    margin-bottom: 40px

    @media (max-width: $xs)
      font-size: 23px

  .review-name
    background: #fff
    border-bottom: 4px solid #e3405f
    padding: 10px 25px
    font-weight: 600

.course-teachers
  background: #e7eaf1
  padding: 100px 0

  .teachers-list
    @media (max-width: $xs)
      margin: 0 auto
      width: 90%

  h2
    font-size: 36px
    line-height: 1.53
    letter-spacing: .02em
    text-transform: uppercase
    font-weight: 800
    margin-bottom: 50px

    @media (max-width: $xs)
      font-size: 28px

  .course-teacher
    background: #fff
    padding: 40px 0 40px 80px
    position: relative
    border-bottom: 4px solid #e3405f
    box-sizing: border-box

    @media (max-width: $sm)
      padding: 25px 25px 315px 25px

    .teacher-name
      font-size: 36px
      font-weight: 700

      @media (max-width: $xs)
        font-size: 26px

    .teacher-desc
      max-width: calc(100% - 300px)

      @media (max-width: $sm)
        max-width: 100%

      ul
        list-style: none
        margin: 25px 0 0
        padding: 0

        li
          position: relative
          padding-left: 30px
          font-size: 18px
          line-height: 32px

          &:before
            content: ""
            display: block
            width: 9px
            height: 9px
            background: #e64e6c
            -webkit-transform: matrix(.71, -.71, .71, .71, 0, 0)
            -ms-transform: matrix(.71, -.71, .71, .71, 0, 0)
            transform: matrix(.71, -.71, .71, .71, 0, 0)
            position: absolute
            left: 0
            top: 11px

    .teacher-img
      position: absolute
      bottom: 0
      right: 0

      img
        position: absolute
        right: 0
        bottom: 0

.plug
  &-title
    text-align: center
    font-weight: bold
    cursor: pointer
    margin-bottom: 10px
    font-size: 1.65em

  &-text
    padding: 25px 50px
    text-align: left
    display: none

  h2
    text-align: center

    ul 
      text-align: left