@import '../pages/courses/nearest-courses'
@import '../pages/courses/grant-chance-courses'
@import '../pages/courses/reviews-courses'

.upcoming-courses
  padding-bottom: 60px

  span
    color: #fff

  .block-title
    font-weight: 600
    font-size: 24px
    line-height: 28px
    color: #fff
    margin-bottom: 25px

  .courses
    display: flex
    flex-wrap: wrap
    align-items: flex-start

  .course
    display: inline-block
    position: relative
    padding-left: 40px

    &:before
      position: absolute
      content: ""
      background: url('../img/list-arrow.svg') no-repeat
      width: 17px
      height: 17px
      left: 0
      top: 4px

  a
    display: block
    text-decoration: none

  .time
    color: #fff

  .course-title
    color: $color-pink-hover
    display: block
    font-size: 16px
    font-weight: 600
    line-height: 1.5
    text-decoration: none

  .vacancy
    font-size: 12px
    color: #fff
    margin-top: 8px
    margin-bottom: 8px

    &-title
      display: inline-block
      background: rgba(255, 255, 255, 0.25)
      box-shadow: 0px 0px 25px rgb(0 0 0 / 5%)
      border-radius: 4px 0px 0px 4px
      padding: 6px 8px

    &-count
      margin-left: 2px
      display: inline-block
      background: rgba(255, 255, 255, 0.25)
      box-shadow: 0px 0px 25px rgb(0 0 0 / 5%)
      border-radius: 0px 4px 4px 0px
      padding: 6px 8px
      font-weight: 500

.courses-page
  .container
    max-width: 1588px
    box-sizing: unset
    padding: 0 24px
    width: unset

  .breadcrumbs
    .delimiter
      color: #E2E2E2