.glossary
  margin-top: 50px

  &-desc
    font-size: 16px
    line-height: 24px
    max-width: 635px
    color: #000
    margin-top: 25px
    margin-bottom: 60px

    @media (max-width: $sm)
      display: none

  &-categories
    display: flex
    justify-content: space-between

    @media (max-width: $lg)
      flex-wrap: wrap

    .glossary-cat
      background: #fff
      padding: 20px 32px
      width: calc(33.33% - 15px)
      box-sizing: border-box
      font-weight: bold
      font-size: 20px
      line-height: 23px
      color: #000000
      transition: background .3s
      text-decoration: none

      @media (max-width: $md)
        width: calc(50% - 5px)
        margin-bottom: 10px
      @media (max-width: $sm)
        width: 100%
        text-align: center

      &:hover, &.active
        background: #E64E6C
        color: #fff

  &-alphabet
    background: #fff
    display: flex
    justify-content: space-between
    align-items: center
    margin: 16px 0
    font-size: 18px
    font-weight: 600
    line-height: 21px
    color: #000
    overflow: hidden

    .glossary-letter
      padding: 20px 16px
      box-sizing: border-box
      cursor: pointer
      transition: background .3s

      &.disabled
        color: #ccc
        cursor: not-allowed

      &:not(.disabled):hover, &.active
        background: #E64E6C
        color: #fff

  &-vocabulary
    display: flex
    margin-bottom: 120px

    &.hidden-content
      .glossary-content
        display: none

    @media (max-width: $sm)
      flex-wrap: wrap
      position: relative

    .glossary-words
      width: 520px
      height: 600px
      overflow-y: auto
      background: #fff

      @media (max-width: $et)
        width: 300px

      @media (max-width: $sm)
        width: 100%

      .glossary-word
        display: block
        text-decoration: none
        padding: 20px 32px
        box-sizing: border-box
        font-weight: bold
        font-size: 20px
        line-height: 23px
        color: #000
        cursor: pointer

        @media (max-width: $et)
          font-size: 18px

        &:hover, &.active
          background: #E64E6C
          color: #fff

      &::-webkit-scrollbar
        width: 5px
        height: 5px

      &::-webkit-scrollbar-thumb
        background: #CCC
        border-radius: 10px

      &::-webkit-scrollbar-thumb:hover
        background: #a3a3a3

      &::-webkit-scrollbar-track
        background: #ffffff
        border-radius: 10px
        box-shadow: inset 7px 10px 12px #f0f0f0

  &-content
    flex: 1
    margin-left: 20px
    padding: 45px 55px
    background: url('../img/geopard.svg') no-repeat 85% bottom #fff
    background-size: 150px

    @media (max-width: $md)
      padding: 40px 23px
    @media (max-width: $sm)
      position: fixed
      background: #fff
      margin: 0
      top: 25%
      left: 0
      right: 0
      box-shadow: 0 7px 15px rgba(0, 0, 0, 0.02)

    .word-title
      font-weight: bold
      font-size: 30px
      line-height: 35px
      color: #000
      margin-bottom: 25px

      @media (max-width: $md)
        font-size: 18px
        line-height: 21px

    .word-content
      max-width: 100%

      @media (min-width: $met)
        max-width: 60%

      @media (max-width: $md)
        font-size: 14px

.archive, .page-template
  .glossary-content
    @media (max-width: $sm)
      display: none

.single-glossary
  .glossary-vocabulary:not(.hidden-content):before
    @media (max-width: $sm)
      content: ""
      width: 100vw
      height: 100vh
      position: fixed
      background: rgba(0, 0, 0, .5)
      left: 0
      right: 0
      top: 0
      bottom: 0

.alphabet-left, .alphabet-right
  background: url('../img/arrow.svg') no-repeat
  min-width: 16px
  height: 25px
  margin: 0 10px
  cursor: pointer
  display: none

  @media (max-width: $et)
    display: block

  @media (max-width: $sm)
    display: none

.alphabet-right
  transform: rotate(180deg)

.alphabet-letters
  overflow: hidden
  width: 100%
  display: flex
  justify-content: space-between

  @media (max-width: $et)
    max-width: calc(100% - 32px)

.word-close-button
  position: absolute
  content: ""
  width: 16px
  height: 16px
  background: url('../img/cancel.svg') no-repeat
  top: 10px
  right: 10px
  background-size: contain
  cursor: pointer
  display: none

  @media (max-width: $sm)
    display: block