.graduates
  margin-top: 50px
  background: linear-gradient(to bottom, #211870 0%, #211870 100%) no-repeat bottom
  background-size: 100% calc(100% - 230px)
  padding-bottom: 100px

  @media (max-width: $lg)
    margin-top: 50px

  h1
    margin-bottom: 80px

  h2
    color: #fff
    margin-top: 50px
    padding: 0 20px

    @media (max-width: $lg)
      margin: 50px 0
      font-size: 16px
      line-height: normal
      width: 70%
      padding: 0

    @media (max-width: $xs)
      width: 90%

  .join-form
    @media (min-width: $met)
      width: 80%
      margin: 0 auto

    form
      display: flex
      justify-content: space-between
      padding: 0 25px

      @media (max-width: $lg)
        flex-wrap: wrap
        justify-content: center
        padding: 0

      @media (max-width: $lg)
        justify-content: space-between

      .form-input, .button
        width: 32%
        outline: none
        box-sizing: border-box


        @media (max-width: $lg)
          width: calc(49%)
          margin: 10px 0

        @media (max-width: $xs)
          width: 100%
          margin-bottom: 20px

    button
      @media (max-width: $lg)
        width: 100% !important

  &-list
    display: flex

  figure
    height: 100%
    margin: 0
    padding: 0
    background: #fff
    position: relative
    display: none

    &:first-child
      display: block

    img
      object-fit: cover
      width: 100%

    figcaption
      padding: 25px 30px 60px
      color: #000
      font-size: 14px
      line-height: 21px

    .graduate-name
      font-size: 16px
      line-height: 24px
      color: #000
      margin-bottom: 5px
      font-weight: bold

    .graduate-position
      color: #9d9d9d
      font-size: 16px
      margin-bottom: 15px
      line-height: 24px