.inspirer
  &-top
    display: flex
    align-items: center
    margin-top: 35px
    margin-bottom: 160px

    @media (max-width: $md)
      flex-wrap: wrap
      margin-bottom: 60px

  &-name
    width: 50%
    padding-right: 25px
    box-sizing: border-box
    text-align: right

    @media (max-width: $md)
      text-align: left
      width: 100%

    div
      font-size: 24px
      line-height: 28px
      font-weight: 700

      @media (max-width: $md)
        font-size: 18px

    h1
      font-size: 78px
      line-height: 150%
      font-weight: 900
      margin: 0
      padding: 0

      @media (max-width: $md)
        font-size: 40px

  &-image
    width: 50%

    img
      max-width: 100%
      height: auto

    @media (max-width: $lg)
      width: 100%

  &-biography
    &-blocks
      display: flex

      @media (max-width: $lg)
        flex-wrap: wrap

    &-left, &-right
      width: 50%
      box-sizing: border-box
      padding: 35px

      @media (max-width: $lg)
        width: 100%

    &-title
      font-weight: 700
      font-size: 24px
      line-height: 28px

    ul
      list-style: none
      margin: 10px 0
      padding: 0

      li
        margin: 15px 0
        position: relative

        &:before
          content: ""
          display: block
          width: 9px
          height: 9px
          background: #e64e6c
          -webkit-transform: matrix(.71, -.71, .71, .71, 0, 0)
          -ms-transform: matrix(.71, -.71, .71, .71, 0, 0)
          transform: matrix(.71, -.71, .71, .71, 0, 0)
          position: absolute
          left: -26px
          top: 5px

  &-memories
    background: linear-gradient(180deg, #211870 0, #211870) no-repeat bottom
    background-size: 100% calc(100% - 150px)
    margin-top: 130px
    padding-bottom: 50px

    &-block
      padding: 68px
      box-sizing: border-box
      background-color: #fff
      width: 95%
      margin: 25px auto 0
      position: relative
      -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, .02)
      box-shadow: 0 7px 15px rgba(0, 0, 0, .02)

      &:before
        content: ""
        background-image: url(../img/quotes.svg)
        width: 80px
        height: 80px
        display: block
        background-repeat: no-repeat
        position: absolute
        background-size: contain
        left: -32px

        @media (max-width: $md)
          width: 60px
          height: 60px
          left: -10px

    &-content
      font-size: 16px
      line-height: 150%
      margin-bottom: 35px

    &-author
      color: #000
      font-weight: 600

    &-position
      margin-top: 11px
      font-size: 16px
      font-weight: 400
      color: #9d9d9d

    &-title
      font-weight: 700
      font-size: 24px
      line-height: 28px