.training-center
  margin-top: 50px

.training-center-content
  display: flex
  padding-bottom: 50px
  flex-wrap: wrap

.training-center-block
  display: block
  text-decoration: none
  width: calc(33% - 25px)
  margin-right: 25px
  transition: all .3s
  height: 200px
  box-sizing: border-box
  padding: 30px 50px 0 133px
  justify-content: space-between

  &.webinars
    background: url(../img/webinars-icon.svg) no-repeat 30px 30px, url(../img/webinars-bg.svg) no-repeat #FDF2F4
    background-size: auto, cover

    @media (max-width: $md)
      background-position: 10%, bottom !important

  &.blog
    background: url(../img/blog-icon.svg) no-repeat 30px 30px, url(../img/blog-bg.svg) no-repeat #FDF2F4
    background-size: auto, auto
    background-position: 40px 32px, 100%

    @media (max-width: $md)
      background-position: 14%, left !important

  &.glossary
    background: url(../img/glossary-icon.svg) no-repeat 30px 30px, url(../img/glossary-bg.svg) no-repeat #FDF2F4
    background-size: auto, cover

    @media (max-width: $md)
      background-position: 10%, bottom !important

  @media (max-width: $et)
    width: calc(50% - 25px)
    margin: 0 15px 15px 0

  @media (max-width: $md)
    height: 100px
    padding: 42px 0 0 130px
    width: calc(50% - 15px)

  @media (max-width: $sm)
    width: 100%

  h3
    font-weight: bold
    font-size: 18px
    line-height: 21px
    color: #000000
    margin: 0

  p
    font-size: 14px
    line-height: 21px
    color: #000000
    margin: 15px 0

    @media (max-width: $md)
      display: none