.webinars
  margin-bottom: 50px

  h1
    margin-top: 50px

  &-categories
    margin-top: 45px
    display: flex
    border-bottom: 1px solid #dfdfdf
    padding-bottom: 50px
    margin-bottom: 50px
    flex-wrap: wrap

    .webinar-category
      border: 2px solid #E64E6C
      box-sizing: border-box
      border-radius: 33px
      font-weight: bold
      font-size: 18px
      line-height: 27px
      cursor: pointer
      padding: 12px 30px
      margin-right: 35px
      transition: background .3s
      margin-bottom: 10px

      @media (max-width: $sm)
        font-size: 14px
        padding: 5px 25px
        margin: 0 10px 10px 0

      &:hover
        background: #E64E6C
        color: #fff

  &-list
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    figure
      width: calc(25% - 10px)
      box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.02)
      margin: 0 0 10px

      @media (max-width: $et)
        width: calc(33.33% - 10px)
      @media (max-width: $md)
        width: calc(50% - 10px)
      @media (max-width: $sm)
        width: 100%

      .webinar-preview
        position: relative
        height: 200px

        &:before
          position: absolute
          content: ""
          background: url('../img/play-pink.svg') no-repeat
          width: 34px
          height: 39px
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)

        .webinar-duration
          position: absolute
          background: rgba(0, 0, 0, .8)
          color: #fff
          bottom: 0
          right: 0
          padding: 0 5px
          font-feature-settings: "lnum"
          font-size: 13px

      img
        width: 100%
        object-fit: cover
        height: 100%
        object-position: left

      figcaption
        background: #fff
        padding: 20px 32px
        box-sizing: border-box
        height: calc(100% - 200px)

        .webinar-title
          font-weight: bold
          font-size: 16px
          line-height: 19px
          height: 40px
          max-width: 80%
          margin-bottom: 12px

        .webinar-desc
          font-size: 14px
          line-height: 21px
          color: #000000
          border-bottom: 0.5px solid #D0D0D0
          padding-bottom: 20px
          margin-bottom: 20px

        .webinar-cat
          display: inline-block
          color: #979797
          font-size: 13px
          line-height: 19px
          border: 1.5px solid #E64E6C
          box-sizing: border-box
          border-radius: 33px
          padding: 10px 20px

.load-more-webinars
  margin: 0 auto 50px auto
  width: 200px
  cursor: pointer
  color: #000
  font-weight: bold
  border: 3px solid #E64E6C
  box-sizing: border-box
  border-radius: 33px
  padding: 10px 20px
  transition: all .3s

  &:not(.loading):hover
    color: #fff
    background: #E64E6C

  &.loading
    font-size: 0
    color: transparent
    width: 50px
    height: 50px
    border-radius: 100%
    border-color: #E64E6C transparent #E64E6C transparent
    animation: lds-dual-ring 1.2s linear infinite

.webinar
  display: flex
  margin-top: 50px
  margin-bottom: 200px

  @media (max-width: $lg)
    flex-wrap: wrap

  &-info
    width: 60%

    @media (max-width: $lg)
      width: 100%

    .webinar-title
      font-weight: bold
      font-size: 30px
      line-height: 45px
      color: #000000

    .webinar-preview
      position: relative

      @media (max-width: $lg)
        height: 172px

      img
        width: 100%

        @media (max-width: $lg)
          height: 100%
          object-fit: cover

      &:hover:before
        background-color: rgba(0, 0, 0, .2)

      &:before
        transition: background-color .3s
        position: absolute
        content: ""
        width: 100%
        background: rgba(0, 0, 0, .5) url('../img/play-pink.svg') no-repeat center
        background-size: 100px
        height: 100%
        cursor: pointer
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

        @media (max-width: $lg)
          background-size: 50px

    .webinar-content
      margin-top: 30px
      padding-top: 10px
      font-size: 16px
      line-height: 24px
      border-top: 1px solid #D8D8D8

    .webinar-category
      width: fit-content
      padding: 10px 30px
      border: 2px solid #E64E6C
      box-sizing: border-box
      border-radius: 33px
      font-weight: bold
      font-size: 18px
      line-height: 27px
      color: #000000

.recommendations
  flex: 1
  padding: 0 35px
  box-sizing: border-box

  @media (max-width: $lg)
    padding: 0

  &-title
    font-weight: bold
    font-size: 24px
    line-height: 28px
    color: #000000
    margin-bottom: 35px

.webinar-recommend
  display: flex
  text-decoration: none

  @media (max-width: $lg)
    flex-wrap: wrap
    margin-bottom: 30px

  &-image
    margin-right: 35px
    position: relative

    @media (max-width: $lg)
      margin: 0

    &:before
      position: absolute
      content: ""
      background: url('../img/play-pink.svg') no-repeat
      width: 34px
      height: 39px
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

  &-content
    flex: 1
    font-size: 14px
    line-height: 18px

    @media (max-width: $lg)
      padding-left: 15px
      box-sizing: border-box

  &-title
    font-weight: bold
    font-size: 18px
    line-height: 22px
    color: #000000
    margin-bottom: 20px


@keyframes lds-dual-ring
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)