.faq
  padding-top: 80px
  z-index: 2
  position: relative

  .question
    padding: 20px 32px
    position: relative
    background-color: #fff
    margin-bottom: 5px
    color: #222
    box-shadow: 0 7px 15px rgba(0, 0, 0, .02)

    &-title
      cursor: pointer
      font-style: normal
      font-weight: 600
      font-size: 18px
      line-height: 21px
      position: relative
      max-width: calc(100% - 30px)

      @media (max-width: $xs)
        font-size: 15px

      &:before
        content: ""
        position: absolute
        background: url('../img/down-arrow.svg') no-repeat
        height: 24px
        width: 24px
        right: -30px
        background-size: contain
        transition: transform .3s
    &.opened
      .question-title:before
        transform: rotate(180deg)

    &-answer
      display: none
      padding: 10px 0 30px
      max-width: 50%
      margin-top: 20px

      @media (max-width: $lg)
        max-width: 100%

  &-form
    background-color: #211870
    padding: 150px 0
    position: relative
    margin-top: -30px

    h2
      font-size: 16px
      line-height: 19px
      margin-left: 40px
      color: $color-white

    form
      padding: 0 40px
      display: flex
      flex-wrap: wrap
      justify-content: space-between


      input, select, button
        padding: 14px 22px
        height: 50px
        box-sizing: border-box
        font-size: 16px
        color: $color-black
        border-radius: 5px
        border: none
        outline: none
        margin-bottom: 10px

      select
        -webkit-appearance: none
        width: 100%

      input, .custom-select, button
        width: 30%

        @media (max-width: $lg)
          width: 49%

        @media (max-width: $xs)
          width: 100%

      .custom-select
        position: relative

        &:after
          content: ""
          background: url(../img/down-arrow.svg) no-repeat
          width: 16px
          background-size: contain
          z-index: 99999999
          height: 16px
          right: 17px
          top: 17px
          position: absolute

      button
        cursor: pointer
        color: $color-white
        text-transform: uppercase
        font-weight: 600
        background: $color-pink-hover
        transition: background .3s

        &:hover
          background: $color-pink-dark