footer
  background: $color-dark
  color: $color-white
  padding: 48px 20px
  box-sizing: border-box
  text-align: center

  @media (max-width: $lg)
    width: 100%
    overflow: hidden

  .bottom-links
    display: flex
    justify-content: center

    a:first-child
      margin-right: 10px
      border-right: 2px solid #eee
      padding-right: 10px

  a
    color: $color-white

    &:hover
      color: $color-pink-hover

  time
    display: block

  ul
    li
      margin: 0 30px 21px

      @media (max-width: $lg)
        margin: 0 10px 21px

      &.hidden-footer
        display: none

    li.current a
      color: $color-pink-hover

    li.hidden
      visibility: hidden
      width: 0
      height: 0
      min-width: 0
      min-height: 0

    a
      text-decoration: none
      text-transform: uppercase

      @media (max-width: $lg)
        font-size: 14px

  ul, .social-links
    list-style: none
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding: 0
    margin: 0

    @media (max-width: $lg)
      flex-wrap: wrap

  .social-links
    margin-bottom: 20px

    li
      margin: 0 15px

  .courses-list
    border-top: 1px solid #ddd
    padding-top: 25px