@import "../parts/footer"

body
  font-family: 'Raleway', sans-serif
  font-style: normal
  font-weight: 400
  background-color: #fbf9fa
  line-height: 1.5
  padding: 0
  margin: 0

  &.scroll-disabled
    overflow: hidden

.dmca-badge
  display: block
  margin-top: 5px

.container
  width: 100%
  max-width: 1590px
  margin: 0 auto
  padding: 0 25px
  box-sizing: border-box

  @media (min-width: $mlg) and (max-width: $et)
    padding: 0 8vw

  @media (max-width: $lg)
    padding: 0 7vw

  @media (max-width: $md)
    padding: 0 10vw

  @media (max-width: $xs)
    padding: 0 5vw

  &-fluid
    width: 100%

.general-page
  padding-top: 100px

  h1
    color: $color-pink-hover
    text-align: center

  ol
    list-style: none
    margin: 0
    padding: 0

.form-input
  background: #fff
  border: none
  border-radius: 5px
  padding: 20px 22px
  width: 100%

.button
  font-size: 16px
  border: none
  text-transform: uppercase
  cursor: pointer
  transition: background-color .3s

  &.button-primary
    background-color: $color-pink-hover
    color: #fff
    font-weight: bold
    border-radius: 5px
    padding: 14px 11px

    &:hover
      background-color: $color-pink-dark

  &.button-action
    color: #fff
    background-color: $color-pink-hover
    border-radius: 3px
    padding: 0 100px
    line-height: 52px

    &:hover
      background-color: $color-pink-dark

    @media (max-width: $xs)
      padding: 0 35px

.button-home-page
  color: #fff
  text-align: center
  background: $color-pink
  padding: 21px 60px
  border-radius: 18px
  border: none
  outline: none
  cursor: pointer
  transition: background .3s linear
  font-family: 'Raleway', sans-serif
  font-style: normal
  font-weight: 800
  font-size: 17px
  line-height: 20px

  @media (max-width: $mxs)
    padding: 10px
    
.overlay
  position: fixed
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, .8)
  z-index: 99999
  display: flex
  justify-content: center
  align-items: center

  embed, iframe
    border: none

.error404
  main
    background: $color-purple
    color: #fff

    .container
      padding-top: 250px
      padding-bottom: 250px
      box-sizing: border-box
      position: relative
      background: url('../img/404.png') no-repeat 100%, url(../img/matrix.gif) no-repeat 100%

      @media (max-width: $et)
        padding-top: 200px
        padding-bottom: 50px
        background-position: center 0
        background-size: 700px
        text-align: center

      @media (max-width: $sm)
        padding-top: 100px
        background-size: 400px
        background-position: center 100px

    .title
      font-size: 446px
      line-height: 270px
      color: #fff
      text-transform: uppercase
      font-weight: 900
      box-sizing: border-box

      @media (max-width: $et)
        top: -100px
        font-size: 96px
        color: #ff387b
        opacity: .76
        position: relative
        transform: rotate(5deg)
        left: -25px

      @media (max-width: $sm)
        top: 0
        font-size: 50px
        left: -16px

    .subtitle
      margin-top: 100px
      font-size: 18px
      line-height: 27px
      color: #fbf9fa
      margin-bottom: 40px

    a
      display: inline-block

    button
      padding-left: 95px
      padding-right: 95px
      font-size: 16px
      width: auto
      border: 0
      margin: 0
      border-radius: 5px
      text-transform: uppercase
      font-weight: 500
      background-color: $color-pink-hover
      color: #fcfcfc
      cursor: pointer
      height: 52px

    .img-matrix, .img-404
      display: block
      position: absolute
      top: 0
      right: 0
      width: 70%
      height: 100%
      background-repeat: no-repeat
      background-size: contain
      background-position: right

    .img-matrix
      background-image: url(../img/matrix.gif)

    .img-404
      background-image: url(../img/404.png)


.breadcrumbs
  margin-top: 50px
  font-weight: 700

  @media (max-width: $xs)
    margin-top: 0

  a
    text-decoration: none
    color: #222
    transition: color .3s

    &:hover
      color: $color-pink-hover

  span.delimiter
    margin: 0 10px

  .breadcrumb-last
    margin: 0
    color: $color-pink-hover

.fixed-button
  display: none
  position: fixed
  bottom: 10px
  right: 10px
  max-width: 165px
  z-index: 2

  button
    cursor: pointer
    outline: none
    border: none
    background: #9D21FF
    width: 100%
    overflow: hidden
    position: relative
    border-radius: 36.5px
    padding: 14px 25px
    font-weight: 700
    font-size: 18px
    line-height: 21px
    text-align: center
    color: #fff
    transform: translateZ(0)

    &:before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 2em
      height: 100%
      background: hsla(0, 0%, 100%, .4)
      transform: translateX(-4em) skewX(30deg)
      -webkit-animation-name: move-light
      animation-name: move-light
      -webkit-animation-duration: 10s
      animation-duration: 10s
      -webkit-animation-iteration-count: infinite
      animation-iteration-count: infinite

.popup-result
  text-align: center

#burger, #burger-check
  display: none

@keyframes move-light
  0%
    transform: translateX(-4em) skewX(30deg)

  30%
    transform: translateX(10em) skewX(30deg)

  31%,
  to
    transform: translateX(10em) skewX(30deg)

.embed
  position: relative
  max-width: 800px
  width: 100%
  margin-left: 5px
  margin-right: 5px

  &::after
    content: ''
    display: block
    padding-top: 56.25%
    height: 0
    width: 100%

  embed
    width: 100%
    height: 100%
    border: none
    position: absolute
    top: 0
    left: 0

.render-deferred
    @media (max-width: 991.98px)
      content-visibility: hidden
      contain-intrinsic-size: 1000px

.overhead
  .attention
    background-color: #e64e6c
    color: #fff
    font-size: 20px
    font-weight: 500
    padding: 16px
    text-align: center

    @media (max-width: $md)
      font-size: 14px

    @media (max-width: $xs)
      padding: 0 16px

  ~ header
    &:not(.sticked)
      top: 94px !important

      @media (max-width: $md)
        top: 110px

    &.showMenu
      top: 0 !important
    &.opened
      top: 0 !important

[data-popup="sign-course"][disabled], button[disabled]
  background: #c3bfc0 !important
  cursor: not-allowed
  pointer-events: none