#wpadminbar
  + header.sticked
    margin-top: 32px

    @media (max-width: $xs)
      margin-top: 0

  + header.transparent
    top: 48px

    &.sticked
      margin-top: 0
      top: 32px

      @media (max-width: $xs)
        top: 0


header
  position: static
  width: 100%
  top: 0
  transition: background .3s, top .3s
  padding: 30px 0
  z-index: 4

  @media (max-width: $bp1366)
    padding: 16px 0

  @media (max-width: $xs)
    padding: 16px 0

  .dropdown > li
    //@media(min-width: 1367px)
    //  margin-right: 49px
    //
    //@media(min-width: $lg)
    //  margin-right: 20px

    @media (min-width: 1367px)
      color: #fff

      &:hover
        color: $color-pink
      & > a
        padding: 8px 20px
        display: inline-block

  &.transparent
    position: fixed
    top: 0

    @media (min-width: 1367px)
      nav
        padding-right: 30px

      .dropdown > li
        color: #fff
        //padding: 0
        &:hover
          color: $color-pink

      .header-social-links
        border-left-color: transparent

    .header__logo
      background: url('../img/white-logo.svg') no-repeat
      object-position: 0 50px
      background-size: contain

    .header-social-links img
      filter: brightness(2.5)

    .burger
      background-color: #fff

      &::before,
      &::after
        background-color: #fff

    &.sticked
      .header__logo
        background: none
        object-position: unset

      .burger
        background-color: $color-black

        &::before,
        &::after
          background-color: $color-black

      @media (min-width: 1367px)
        .dropdown > li
          color: $color-link-gray

          &:hover
            color: #fff

            & > a
              background-color: $color-pink
              border-radius: 8px

        .header-social-links
          border-left-color: $color-gray-light

          img
            filter: contrast(1.5)


  &.sticked
    background: $color-white
    width: 100%
    box-shadow: 0 2.5px 8px 1px rgba(0, 0, 0, .05)
    position: fixed
    top: 0
    z-index: 4

  &.opened
    background-color: $color-white
    position: fixed

    .header__logo
      background: none
      object-position: unset

    .burger
      background-color: $color-black

      &::before,
      &::after
        background-color: $color-black

  &.showMenu
    .header__logo
      background: none
      object-position: unset

    .header-nav
      background-color: #fff
      width: 100%
      height: calc(100% - 83px)
      margin-top: 83px
      display: block
      position: fixed
      left: 0
      top: 0
      overflow-y: auto
      z-index: 1

      &::before
        content: ''
        width: 100%
        height: 83px
        background-color: #ffffff
        position: fixed
        top: 0
        left: 0

    nav
      margin: 0 7vw
      border-top: 1px solid $color-border-gray

    .dropdown
      display: block

      li
        font-size: 14px
        border-bottom: 1px solid $color-border-gray
        flex-wrap: wrap
        align-items: center
        justify-content: space-between

      a
        color: $color-link-gray
        padding: 16px 0

      .courses-items
        a
          line-height: unset
          font-weight: bold

        .dropdown-arrow
          transform: rotate(-90deg)

        .dropdown-menu
          background-color: #fff
          width: calc(100% - 14vw)
          height: 100%
          position: fixed
          left: 100%
          top: 0
          border-radius: 0
          padding: 0 7vw
          visibility: visible
          transition: left ease .5s
          z-index: 2

    .has-arrow.opened
      color: $color-pink

      .dropdown-arrow
        border-top-color: $color-pink
        transform: rotate(180deg) !important

      & > .dropdown-menu
        display: block
        position: static
        visibility: visible
        flex-basis: 100%
        border-radius: unset
        background-color: #fff

        li
          border: none
          justify-content: flex-start

          a
            @media (max-width: $bp1366)
              &::before
                content: ''
                display: inline-block
                width: 4px
                height: 4px
                border-radius: 50%
                background-color: $color-link-gray
                margin-right: 14px

    .header-social-links
      display: flex
      justify-content: center
      visibility: visible
      padding-top: 110px
      padding-bottom: 30px

      img
        filter: contrast(1.5)

    .burger
      background-color: $color-black

      &::before,
      &::after
        background-color: $color-black

    &.coursesOpened
      .courses-items
        .dropdown-menu
          height: calc(100% - 80px)
          top: 80px
          left: 0
          transition: left ease .5s
          overflow-y: auto

          .courses-item
            &:last-of-type
              margin-bottom: 30px

            &-header
              position: fixed
              top: 0
              width: calc(100% - 14vw)

      .lang-selector,
      .header__top-line
        visibility: hidden

  .container
    display: flex
    align-items: center
    justify-content: space-between

    @media (max-width: $lg)
      flex-wrap: wrap
    @media(max-width: $xs)
      padding-left: 24px
      padding-right: 24px
      justify-content: unset

.header
  &__top-line
    position: relative
    z-index: 2

  &__logo
    height: auto
    vertical-align: text-top

    @media (max-width: $bp1366)
      max-width: 140px
    @media(max-width: 360px)
      width: 97px

  &-nav
    margin-left: auto

    @media (max-width: $bp1366)
      display: none
      order: unset
      flex-basis: auto

    .dropdown
      display: flex
      align-items: center
      justify-content: space-between
      list-style: none
      margin: 0
      padding: 0

      li
        text-align: left
        color: $color-link-gray
        position: relative
        display: flex
        justify-content: center

        &.hidden 
          visibility: hidden
          width: 0
          height: 0
          min-width: 0
          min-height: 0

        //@media (min-width: $met)
        //  padding: 0 20px

        @media (min-width: 1367px)
          &:hover
            & .dropdown-menu
              visibility: visible
              top: 100%

        &.courses-items
          @media (min-width: 1367px)
            justify-content: unset

        &.hidden-header
          display: none !important

        &.current
          color: $color-pink-hover

        a
          font-family: 'Raleway', sans-serif
          font-weight: bold
          font-size: 14px
          line-height: 1.19
          color: currentColor
          text-decoration: none
          white-space: nowrap

          &.disabled
            color: #d8d8d8

          @media (min-width: $met)
            font-size: 16px

      .courses
        &-items
          .dropdown-menu
            @media (min-width: 1367px)
              padding: 51px 0 20px 20px
              width: 600px

        &-item
          display: flex
          position: static
          flex-wrap: wrap

          @media (min-width: 1367px)
            border-radius: 18px 0 0 18px
            width: 270px
            white-space: nowrap
            flex-wrap: nowrap

            &:hover
              background-color: #fff

              & .sub-menu
                display: block

          &.opened
            .sub-menu
              display: block
              flex-basis: 100%
              position: static
              max-width: 100%
              width: 100%
              padding: 0

              li
                border: none
                padding: 0
                margin-bottom: 5px

                a
                  padding: 0 0 7px

                  &::before
                    content: ''
                    display: inline-block
                    width: 4px
                    height: 4px
                    border-radius: 50%
                    background-color: $color-link-gray
                    margin-right: 14px

          &.has-arrow
            .dropdown-arrow
              transform: unset

          &-first
            font-family: 'Raleway', sans-serif
            font-weight: 800
            font-size: 18px
            line-height: 21px
            color: $color-link-gray
            padding-left: 16px
            margin-bottom: 20px

            b
              color: $color-link-gray

            @media (max-width: $bp1366)
              display: none

          &-header
            display: flex
            justify-content: unset !important
            padding: 30px 0

            .arrow-back
              $color-arrow-back: #000

              width: 24px
              height: 16px
              display: inline-block
              position: relative
              cursor: pointer

              &::after,
              &::before
                content: ''
                position: absolute
                left: 0
                top: 0
                bottom: 0
                margin: auto

              &::before
                width: 10px
                height: 10px
                display: block
                border-left: 2px solid $color-arrow-back
                border-top: 2px solid $color-arrow-back
                transform: rotate(-45deg)

              &::after
                width: 24px
                height: 2px
                background-color: $color-arrow-back
                display: inline-block

          &-title
            font-family: 'Raleway', sans-serif
            font-style: normal
            font-weight: bold
            font-size: 14px
            line-height: 21px
            text-transform: uppercase
            color: $color-link-blue
            text-align: center
            flex-grow: 1

      &-menu
        display: block
        background-color: $color-white
        border-radius: 18px
        position: absolute
        top: 0
        visibility: hidden
        transition: top ease .5s
        padding: 0
        z-index: 1

        @media (min-width: 1367px)
          padding: 13px 0

        li
          color: $color-link-gray
          justify-content: space-between

          @media (min-width: 1367px)
            padding: 0 20px
            list-style-type: none
            &:hover
              color: $color-pink-hover

          a
            font-family: 'Raleway', sans-serif
            font-style: normal
            font-weight: 500
            font-size: 14px
            letter-spacing: 0.02em
            color: currentColor
            flex-grow: 1
            user-select: none

            @media (min-width: 1367px)
              line-height: 40px
              font-size: 16px

      &-arrow
        @media (max-width: $bp1366)
          width: 14px
          height: 14px
          box-sizing: border-box
          border-color: $color-link-gray
          border-style: solid
          border-width: 7px
          border-right-color: transparent
          border-left-color: transparent
          border-bottom-color: transparent
          position: relative
          z-index: -1

    .sub-menu
      box-sizing: border-box
      display: none
      background-color: #fff
      height: calc(100% - 40px)
      width: 100%
      max-width: calc(100% - 276px - 20px)
      border-radius: 18px
      padding-top: 52px
      padding-left: 55px
      position: absolute
      left: 276px
      right: 20px
      top: 20px
      white-space: nowrap

      li
        color: $color-link-blue
        padding: 7px 0

        a
          font-weight: 800
          line-height: 19px
          color: currentColor
          user-select: none

.lang-selector
  position: relative
  display: flex
  justify-content: center
  padding: 0 20px
  cursor: pointer
  z-index: 2

  @media (min-width: 1367px)
    padding-right: 16px
    margin-left: 10px
    &:hover ul
      visibility: visible
      top: 100%
  @media(max-width: $bp1366)
    margin-left: auto
  //@media(max-width: $lg)
  //  margin-left: auto
  //@media(max-width: $sm)
  //  padding: 0

  span
    display: inline-block
    padding: 8px 20px
    font-family: 'Raleway', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 19px
    text-transform: uppercase
    color: $color-pink

  ul
    margin: 0
    padding: 20px
    position: absolute
    top: 0
    background-color: $color-white
    border-radius: 18px
    visibility: hidden
    transition: top .5s ease

  li
    &.lang-item
      color: $color-link-gray
      text-transform: uppercase
      list-style-type: none
      font-family: 'Raleway', sans-serif
      font-style: normal
      font-weight: 500
      font-size: 16px
      line-height: 40px
      letter-spacing: 0.02em

      &:hover
        color: $color-pink

    &.current-lang
      display: none

    a
      color: currentColor
      text-decoration: none
      user-select: none

  ul
    @media (max-width: $bp1366)
      box-sizing: border-box
      display: flex
      justify-content: space-evenly
      width: 100%
      max-width: $bp1366
      padding: 15px 20px
      border-radius: unset
      position: fixed
      top: 0
      left: 0

      &::before
        content: ''
        display: block
        border-top: 1px solid $color-border-gray
        width: 100%
        max-width: calc(100% - 14vw)
        position: absolute
        top: 0
        left: 0
        right: 0
        margin: auto

  &.langShow
    ul
      top: 67px
      visibility: visible
      box-shadow: 0 2.5px 8px 1px rgba(0, 0, 0, .05)

.lang-overlay
  background-color: rgba(0, 0, 0, .5)
  width: 100%
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  margin: auto
  z-index: 3
  display: block


.header-social-links
  display: flex
  list-style: none
  margin: 0
  padding: 0 56px 0 40px
  border-left: 1px solid transparent

  @media (min-width: 1367px)
    border-left-color: $color-gray-light

  @media (max-width: $et)
    padding: 0 30px 0 40px

  //@media (max-width: $bp1366)
  //  padding: 0 30px 0 30px

  @media (max-width: $bp1366)
    display: none

  li
    transition: opacity .3s

    @media (min-width: 1367px)
      &:hover
        opacity: .7

    &:not(:last-of-type)
      margin-right: 15px

  img
    filter: contrast(1.5)

.mobile-menu
  display: none
  align-items: center
  position: relative
  background-color: transparent
  border: none
  width: 24px
  height: 24px
  cursor: pointer
  transition: all 1s ease
  z-index: 2

  margin-right: 20px

  @media (max-width: $bp1366)
    display: flex
  @media (max-width: $mbp800)
    margin-right: unset

  &.opened
    .burger
      background-color: transparent !important

      &::before
        transform: translateY(0) rotate(45deg)

      &::after
        transform: translateY(-2px) rotate(-45deg)

.burger
  display: block
  height: 2px
  width: 18px
  background-color: $color-black
  position: relative

  &::before,
  &::after
    content: ''
    display: block
    width: 18px
    height: 2px
    background-color: $color-black

  &::before
    transform: translateY(-7px)

  &::after
    transform: translateY(5px)