#wpadminbar
  + header.sticked
    margin-top: 32px

    @media (max-width: $xs)
      margin-top: 0

  + header.transparent
    top: 48px

    &.sticked
      margin-top: 0
      top: 32px

      @media (max-width: $xs)
        top: 0

header  
  padding: 30px 0 14px

  @media (max-width: $bp1366)
    padding: 16px 0

  &.opened
    &:not(.sticked)
      position: relative
      z-index: 3

    .courses-menu
      color: #000 !important

    .header-courses
      display: none !important

    @media (max-width: $lg)
      height: 100vh
      background: #fff
      overflow-x: auto

  &.sticked
    position: fixed
    background: $color-white
    width: 100%
    top: 0
    z-index: 3
    transition: top .3s
    box-shadow: 0 2.5px 8px 1px rgba(0, 0, 0, .05)

  .container
    display: flex
    align-items: center
    justify-content: space-between

    @media (max-width: $lg)
      display: block

  .header-logo
    img
      height: auto
      vertical-align: text-top
      margin-bottom: 16px

      @media (max-width: $lg)
        max-width: 140px
        margin-bottom: auto

    @media (max-width: $lg)
      display: flex
      justify-content: space-between
      align-items: center
      
  .cabinet-icon
    background: url('../img/account.svg') no-repeat
    width: 21px
    height: 23px
    border: 0
    outline: none
    display: none

    @media (max-width: $lg)
      display: block

  .cabinet
    button, a
      text-decoration: none
      cursor: pointer
      border: 0
      background: transparent
      color: #000
      font-weight: 700
      font-size: 16px
      position: relative
      outline: none
      box-sizing: border-box
      padding-left: 30px
      margin-right: 30px
      background-size: contain

      @media (max-width: $lg)
        display: none

      &:after
        position: absolute
        background: url('../img/account.svg') no-repeat
        width: 21px
        bottom: 0
        height: 23px
        content: ""
        left: 0

  .courses-menu
    outline: none
    background: transparent
    text-transform: uppercase
    padding: 10px
    font-weight: 600
    border: 1px solid #e3405f
    border-radius: 30px
    display: none
    color: #000

    @media (max-width: $lg)
      display: block

  &.transparent
    .courses-menu, .cabinet button, .cabinet a
      color: #fff

    &.sticked
      .cabinet button, .cabinet a
        color: #000

      .courses-menu
        color: #000

  .mobile-menu
    display: none
    border: none
    background: none
    outline: none

    @media (max-width: $lg)
      display: block

  .header-nav
    display: flex
    align-items: center

    @media (max-width: $lg)
      display: none

  &.opened .header-nav
    @media (max-width: $lg)
      display: block

  nav
    ul.dropdown
      li
        min-width: 100px
        text-align: center

        .dropdown-arrow
          cursor: pointer
          display: none

          &.opened
            transform: rotate(90deg)

          @media (max-width: $lg)
            display: block
            position: absolute
            content: ""
            width: 16px
            height: 16px
            background: url(../img/arrow.svg) no-repeat
            background-size: contain
            top: 15px
            right: 5px
            transform: rotate(270deg)
            transition: transform .3s

        @media (max-width: $lg)
          text-align: left

    ul:not(.dropdown-menu)
      display: flex
      list-style: none
      align-items: center
      margin: 0
      padding: 0

      @media (max-width: $lg)
        display: block

      li
        position: relative

        &:hover
          .dropdown-menu
            opacity: 1
            top: 50px
            visibility: visible

        @media (max-width: $lg)
          border-top: 1px solid #e9e9e9
          width: 100%
          padding: 16px 0
          font-size: 14px

      li.hidden-header
        display: none

      li.current a
        color: $color-pink-hover

      li.hidden
        visibility: hidden
        width: 0
        height: 0
        min-width: 0
        min-height: 0

      a
        font-family: 'Raleway', sans-serif
        font-style: normal
        font-weight: bold
        padding: 8px 20px 25px 20px
        line-height: 1.19
        text-decoration: none
        color: $color-primary
        transition: color .3s
        display: block

        @media (max-width: $lg)
          padding: 0 25px
          display: block

        &:hover
          color: $color-pink-hover !important

      &:not(.dropdown-menu):after
        content: ""
        height: 35px
        background: #e2e2e2
        display: block
        width: 1px
        margin: 0 32px

        @media (max-width: $lg)
          display: none

  .lang-selector
    margin-right: 56px

    @media (max-width: $lg)
      margin-top: 20px
      margin-bottom: 40px
      margin-right: 25px

      ul
        border-top: none !important
        border-bottom: none !important


  .lang-selector, .location-selector
    text-transform: uppercase
    font-family: 'Raleway', sans-serif
    font-style: normal
    font-weight: bold
    cursor: pointer
    position: relative
    margin-bottom: 16px

    &:hover
      ul
        &:before
          content: ""
          position: absolute
          width: 100%
          left: 0
          height: 20px
          top: -20px

        li.current-lang:before
          filter: none

        @media (min-width: $mlg)
          display: block

        @media (max-width: $lg)
          display: flex

    span, .current-lang a
      color: $color-pink

    span
      @media (max-width: $lg)
        display: none

    ul
      display: none
      z-index: 3
      list-style: none
      box-shadow: 0 7px 15px rgba(0, 0, 0, .02)
      position: absolute
      left: 50%
      transform: translate(-50%)
      background-color: #fff
      border-radius: 10px
      padding: 20px
      top: 25px

      @media (max-width: $lg)
        display: flex
        justify-content: space-around
        position: initial
        transform: none
        margin: 0
        border-top: 1px solid #e9e9e9
        border-bottom: 1px solid #e9e9e9
        padding: 10px 50px
        box-sizing: border-box
        background: none
        box-shadow: none
        border-radius: 0

      li
        font-weight: normal
        position: relative
        padding-left: 20px

        &:before
          content: ""
          background: url(../img/list-item.svg) no-repeat
          width: 8px
          left: 0
          height: 9px
          position: absolute
          top: 25%
          filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(18deg) brightness(108%) contrast(101%)

          @media (max-width: $lg)
            display: none

        @media (max-width: $lg)
          display: inline-block

        a
          color: #222
          text-decoration: none
          display: block

          &.disabled
            color: #d8d8d8

      &:after
        top: -20px
        position: absolute
        left: 50%
        transform: translate(-50%)
        border: 10px solid transparent
        border-bottom-color: #fff
        content: ""

  .dropdown-menu
    opacity: 0
    visibility: hidden
    left: 50%
    transform: translate(-50%)
    top: -100%
    transition: top .3s, opacity .3s
    list-style: none
    background: #fff
    position: absolute
    margin: 0
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.02)
    border-radius: 10px
    padding: 20px 0
    min-width: 100%
    z-index: 2

    &:before
      @media (min-width: $mlg)
        width: 22px
        height: 22px
        position: absolute
        background: #fff
        content: ""
        top: -12px
        left: 50%
        transform: translate(-50%) rotate(45deg)

    li
      text-align: left !important
      padding-left: 15px

      &:hover:before
        background: $color-pink-hover

      &:before
        @media (min-width: $mlg)
          content: ""
          width: 8px
          height: 8px
          left: 15px
          top: 5px
          position: absolute
          background: #EFEFEF
          transform: rotate(-45deg)

      @media (max-width: $lg)
        border: none !important
        padding: 0 !important
        margin-bottom: 25px

    @media (max-width: $lg)
      position: relative
      display: none
      border-radius: 0
      top: 0 !important
      margin: 0 !important
      border-top: none
      transition: all .3s
      list-style: none
      background: #fff
      box-shadow: 0 7px 15px rgba(0, 0, 0, .02)
      min-width: 100%
      z-index: 2
      opacity: 1
      visibility: visible

    a
      padding: 0 25px !important
      width: 100%
      box-sizing: border-box
      display: block
      margin: 10px 0
      color: #222 !important

.location-selector
  margin-right: 36px
  position: relative
  min-width: 253px
  
  @media (max-width: $met)
    min-width: 185px


  ul
    left: 36% !important
    @media (max-width: $lg)
      display: block !important
      width: 100%
    
    @media (max-width: $mxs)
      li 
        width: 100%

  &:before
    content: ""
    position: absolute
    background: url('../img/placeholder.svg')
    width: 15px
    height: 21px

    @media (max-width: $lg)
      top: 10px
      left: 25px

  span
    color: $color-dark !important
    text-transform: initial
    padding-left: 20px

header.transparent:not(.opened):not(.sticked)
  position: fixed
  width: 100%
  top: 0
  z-index: 3

  .mobile-menu
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(297deg) brightness(112%) contrast(99%)

  &.sticked
    margin-top: 0
    top: 0

    .header-logo img
      content: unset
      background: none
      object-position: initial

    nav ul
      a
        color: #222

      &:after
        background: transparent

  .header-logo a img
    background: url(../img/white-logo.svg) no-repeat
    object-position: 0 50px
    background-size: contain

  nav ul
    a
      color: #fff

    &:after
      background: transparent

  .location-selector span
    color: #fff !important

.header-courses
  z-index: 2
  position: fixed
  display: none
  left: 0
  right: 0
  background: $color-white

  ul
    list-style: none
    margin: 0
    padding: 0

  li
    padding: 10px
    border-bottom: 1px solid #e9e9e9

  a
    display: block
    width: 100%
    color: $color-pink-hover
    font-size: 16px
    font-weight: 600
    text-decoration: none

  button
    display: block
    margin: 20px auto