.reviews
  .reviews-title
    font-weight: 600
    font-size: 24px
    line-height: 28px
    margin-bottom: 15px

.reviews-list
  @media(max-width: $xs)
    padding: 0 20px

  .review-image
    position: relative
    cursor: pointer

    &:hover
      img
        filter: none

    img
      width: 100%
      height: 200px
      object-fit: cover
      filter: brightness(0.5)
      transition: filter .3s

    &:after
      content: ""
      background: url('../img/icons/play.png') no-repeat
      position: absolute
      top: 80px
      width: 36px
      height: 36px
      background-size: contain
      left: 50%
      cursor: pointer

  .review-name
    font-weight: 500
    color: $color-black
