.grant-chance
  background: url(../img/courses-page-form-bg.png) no-repeat, url(../img/bottom_screen_mask_group.png) no-repeat, linear-gradient(267.4deg, #241970 -3.48%, #241970 52.04%, #E64E6C 109.15%)
  background-position: 100% 100%, 0 0, 0 0
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2)
  background-size: contain, cover, auto
  border-radius: 18px
  padding-top: 65px
  padding-bottom: 60px
  padding-left: 74px

  @media(max-width: 1600px)
    padding-top: 40px
    padding-bottom: 44px
    padding-left: 46px
  @media(max-width: 1280px)
    background: url(../img/bottom_screen_mask_group.png) 0 0 no-repeat, linear-gradient(267.4deg, #241970 -3.48%, #241970 52.04%, #E64E6C 109.15%)
    padding: 40px 6vw
  @media(max-width: $mmd)
    background: url(../img/bottom_screen_mask_group.png) 0 0 no-repeat, linear-gradient(11.82deg, #241970 31.89%, #E64E6C 108.8%), #241970
    background-size: cover, auto

  @media (max-width: $xs)
    background: linear-gradient(11.82deg, #241970 31.89%, #E64E6C 108.8%), #241970
    background-size: cover, auto

  h2
    font-family: 'Raleway', sans-serif
    font-weight: 800
    font-size: 36px
    line-height: 51px
    color: #fff
    max-width: 790px
    margin-top: 0
    margin-bottom: 25px
    padding-left: 20px

    @media(max-width: 1600px)
      font-size: 26px
      line-height: 39px
      max-width: 570px
    @media(max-width: 1280px)
      max-width: unset
      text-align: center
    @media(max-width: $mxs)
      font-size: 20px
      line-height: 28px

  &-form
    display: block
    max-width: 870px
    padding-left: 10px
    padding-right: 10px
    box-sizing: border-box

    @media(max-width: 1600px)
      max-width: 710px
    @media(max-width: 1280px)
      max-width: unset
      margin: 0 auto

  &-fields
    display: flex
    flex-wrap: wrap
    margin-left: -10px
    margin-right: -10px

  &-field
    font-size: 16px
    line-height: 21px
    color: #868589
    padding: 20px
    box-sizing: border-box
    outline: none
    border: none
    background: #fff
    border-radius: 18px
    width: calc(100% / 3 - 20px)
    margin-left: 10px
    margin-right: 10px
    margin-bottom: 20px
    align-self: flex-start

    @media(max-width: 1600px)
      padding: 15px 20px
      border-radius: 10px
    @media(max-width: $mmd)
      width: calc(100% / 2 - 20px)
    @media(max-width: $mxs)
      width: 100%

  &-button
    background: $color-pink
    border: none
    border-radius: 18px
    box-sizing: border-box
    color: #fff
    cursor: pointer
    font-weight: 700
    font-size: 16px
    outline: none
    line-height: 21px
    padding: 20px
    align-self: flex-start
    width: calc(100% / 3 - 20px)
    margin-left: 10px
    margin-right: 10px
    margin-bottom: 20px

    @media(max-width: 1600px)
      padding: 15px 20px
      border-radius: 10px
    @media(max-width: $mmd)
      width: calc(100% / 2 - 20px)
    @media(max-width: $mxs)
      width: 100%

    &:hover
      background: $color-pink-hover

  .custom-select
    position: relative

    &.open
      border-radius: 18px 18px 0 0

      @media(max-width: 1600px)
        border-radius: 10px 10px 0 0

    .select
      background: #fff
      border-radius: 18px
      box-sizing: border-box
      color: #868589
      font-size: 16px

    &.open .choose-city,
    &.open .courses-list
      display: block
      box-shadow: 0 2px 3px rgba(0, 0, 0, .03)

    .choose-city,
    .courses-list
      display: none
      width: 100%
      position: absolute
      top: 60px
      left: 0
      background: #fff
      z-index: 1
      border-radius: 0 0 18px 18px
      color: #868589

      @media(max-width: 1600px)
        top: 50px

      &-list
        padding: 10px 10px 10px 20px
        cursor: pointer
        transition-duration: .3s

        &:last-child
          border-radius: 0 0 18px 18px

          @media(max-width: 1600px)
            border-radius: 0 0 10px 10px

        &:hover
          background-color: #552c75
          color: #fff

    .choose-city
      z-index: 2

    &::after
      content: ''
      width: 16px
      height: 16px
      box-sizing: border-box
      border-width: 8px
      border-style: solid
      border-color: transparent
      border-top-color: #271A82
      position: absolute
      right: 28px
      top: 27px
      pointer-events: none
      transition-duration: .3s
      transform-origin: 50% 30%

      @media(max-width: 1600px)
        top: 22px

    &.open::after
      transform: rotate(180deg)

  .terms-and-cond
    flex: 1 1 100%
    color: #D9D9D9
    font-size: 14px
    line-height: 19px
    margin: 0
    text-align: center

    a
      color: currentColor

    .check_tnc
      position: relative
      display: inline-block

      input
        position: absolute
        z-index: -1
        opacity: 0

        &:checked + label::after
          display: inline-block

        & + label
          display: inline-flex
          align-items: center
          user-select: none
          cursor: pointer

          &::before
            content: ''
            display: inline-block
            width: 12px
            height: 12px
            border: 1px solid #adb5bd
            border-radius: 50%
            margin-right: 15px

          &::after
            content: ''
            width: 13px
            height: 3px
            border-left: 1px solid #adb5bd
            border-bottom: 1px solid #adb5bd
            position: absolute
            left: 2px
            bottom: 13px
            transform: rotate(-60deg)
            display: none

.form-result
  display: none
  text-align: center
  color: #fff