.nearest-courses
  padding-bottom: 60px

  @media(max-width: $mmd)
    padding-bottom: 40px

  h1
    font-family: 'Raleway', sans-serif
    font-weight: bold
    font-size: 36px
    line-height: 42px
    color: $color-link-gray

  &-wrapper
    display: flex
    flex-wrap: wrap
    position: relative

    @media(max-width: $mxs)
      display: block


  &-list-city
    margin: 0
    padding-left: 0
    flex: 0 0 402px

    @media(max-width: 1366px)
      flex: 0 0 316px
    @media(max-width: $mmd)
      flex: 1 1 100%
      display: flex
      flex-wrap: wrap
      margin-bottom: 35px
      padding-left: 10px
      padding-right: 10px
      box-sizing: border-box
    @media (max-width: $msm)
      display: none
      position: absolute
      top: 60px
      left: 0
      background-color: #ffffff
      width: 100%
      border: 1px solid #000
      border-radius: 0 0 14px 14px
      border-top-color: transparent
      z-index: 2

    .city-item
      list-style-type: none
      font-family: 'Raleway', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 27px
      color: $color-link-gray

      @media (max-width: $mmd)
        display: inline-block
      @media (max-width: $msm)
        display: block

      span
        cursor: pointer
        padding: 10px 29px
        display: inline-block
        box-sizing: border-box

        @media (max-width: $mmd)
          border: 1px solid $color-link-gray
          border-radius: 18px
          margin-right: 15px
          margin-bottom: 15px
        @media (max-width: $msm)
          border: none
          margin: 0
          padding-left: 18px
          display: block

          &:hover
            border-color: $color-pink

        &:hover
          color: $color-pink

      &.active
        span
          @media (min-width: $sm)
            background-color: $color-pink
            color: #fff
            border-radius: 18px
            border-color: transparent

  &-list-courses
    box-sizing: border-box
    flex: 1 1 calc(100% - 402px)

    @media(max-width: 1366px)
      flex: 1 1 calc(100% - 316px)
    @media(max-width: $mmd)
      flex: 1 1 100%
      margin-top: 110px

    .splide__pagination
      position: static
      transform: unset

    .course
      &-items
        display: none
        flex-wrap: wrap
        flex: 1 1 100%
        align-items: flex-start
        margin-left: -10px
        margin-right: -10px

        @media(max-width: $mxs)
          margin-left: 0
          margin-right: 0
          flex-wrap: unset

        &.active
          display: flex

      &-item
        position: relative
        width: calc(100% / 3 - 20px)
        margin-left: 10px
        margin-right: 10px
        margin-bottom: 25px
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05)
        border-radius: 18px
        overflow: hidden
        padding: unset
        background-color: #fff

        @media(max-width: $mlg)
          width: calc(100% / 2 - 20px)
        @media(max-width: $mxs)
          width: 100%
          margin-left: 0
          margin-right: 0

        &:hover
          box-shadow: 0 4px 12px rgba(36, 25, 112, 0.15)

          .code,
          .lines
            transition: fill .3s linear
            fill: #fff

        a
          text-decoration: none

        .code,
        .lines
          fill: $color-link-blue
          position: absolute

        .code
          width: 82px
          height: 63px
          top: 12px
          right: 22px

        .lines
          width: 44px
          height: 8px
          top: 18px
          left: 42px

      &-empty
        background: #fff
        box-shadow: 0 7px 21px rgba(0, 0, 0, 0.05)
        border-radius: 18px
        max-width: 670px
        width: 100%
        min-height: 315px
        position: relative
        display: flex
        align-items: center
        padding-left: 70px
        box-sizing: border-box

        @media(max-width: $mmd)
          max-width: 504px
          min-height: 285px
          padding-left: 28px
          margin-top: 45px
        @media(max-width: $mxs)
          width: 100%
          overflow: hidden
          min-height: 180px

        svg
          position: absolute
          fill: #E2E2E2

        .stiven-image
          position: absolute
          right: 97px
          bottom: 6px
          width: 208px

          @media(max-width: $mmd)
            width: 180px
            right: 52px
          @media(max-width: $mxs)
            width: 145px
            top: 9px
            right: -15px
            bottom: unset

          img
            max-width: 100%
            height: auto

        .lines
          width: 78px
          height: 14px
          top: 53px
          left: 70px

          @media(max-width: $mmd)
            top: 22px
            left: 30px
          @media(max-width: $mxs)
            width: 46px
            height: 8px
            top: 27px

        .braces
          width: 40px
          height: 19px
          bottom: 100px
          right: 258px

          @media(max-width: $mmd)
            right: 195px
            bottom: 96px
          @media(max-width: $mxs)
            display: none

        .debag
          width: 43px
          height: 29px
          right: 56px
          bottom: 60px

          @media(max-width: $mmd)
            right: 33px
          @media(max-width: $mxs)
            width: 24px
            height: 16px
            right: 135px
            bottom: 17px

        .end-tag
          width: 39px
          height: 22px
          top: 35px
          right: 28px

          @media(max-width: $mmd)
            top: 27px
            right: 23px
          @media(max-width: $mxs)
            width: 20px
            height: 11px
            top: 38px
            right: 92px

      &-text
        font-family: 'Raleway', sans-serif
        font-weight: bold
        font-size: 28px
        line-height: 39px
        color: #000
        max-width: 308px

        @media(max-width: $mmd)
          font-size: 22px
          line-height: 31px
        @media(max-width: $mxs)
          font-size: 16px
          line-height: 22px
          max-width: 225px
        @media(max-width: 340px)
          max-width: 160px

      &-top
        box-sizing: border-box
        background: $color-bg-blue
        padding: 38px 40px
        font-weight: bold
        font-size: 18px
        line-height: 23px
        color: #fff
        display: flex
        align-items: center
        position: relative
        max-height: 100px

        @media(max-width: 1366px)
          padding: 38px 30px

        .course-title
          position: relative
          z-index: 1

      &-bottom
        position: relative
        background: #fff
        padding: 20px
        
        .course-desc
          font-size: 14px
          padding-bottom: 16px

        .course-start
          box-sizing: border-box
          font-family: 'Raleway', sans-serif
          font-size: 14px
          font-weight: bold
          line-height: 25px
          font-feature-settings: 'pnum' on, 'lnum' on
          color: $color-link-gray
          display: block

        .course-date
          box-sizing: border-box
          font-family: 'Raleway', sans-serif
          font-size: 14px
          font-weight: normal
          line-height: 25px
          font-feature-settings: 'pnum' on, 'lnum' on
          color: $color-link-gray
          display: block
          margin-bottom: 0

    .splide__track
      @media(min-width: $xs)
        overflow: unset

  &-link
    flex: 1 1 100%
    order: -1
    text-align: right
    font-family: 'Raleway', sans-serif
    font-weight: 500
    font-size: 18px
    line-height: 21px
    color: $color-link-gray
    margin-bottom: 30px
    padding-right: 10px

    @media(max-width: $mlg)
      order: 0
      text-align: left
      padding-left: 10px
      margin-top: 20px

    a
      color: currentColor
      text-decoration: none
      display: inline-block

      &:hover
        color: $color-pink

        &::after
          border-left-color: $color-pink

      .city
        display: inline-flex
        align-items: center

        &::after
          content: ''
          display: inline-block
          box-sizing: border-box
          width: 5px
          height: 10px
          border-width: 5px
          border-style: solid
          border-color: transparent
          border-left-color: #000
          margin-left: 5px

.currentCity
  border: 1px solid $color-link-gray
  box-sizing: border-box
  border-radius: 14px
  font-family: 'Raleway', sans-serif
  font-weight: 500
  font-size: 16px
  line-height: 19px
  letter-spacing: 0.02em
  text-transform: uppercase
  color: #1A2237
  padding: 20px 26px
  flex: 1 1 100%
  margin-bottom: 25px
  position: relative
  background-color: #ffffff

  @media(min-width: 769px)
    display: none

  &::after
    content: ''
    display: inline-block
    width: 13px
    height: 5px
    box-sizing: border-box
    border-style: solid
    border-width: 7px
    border-color: transparent
    border-top-color: $color-link-gray
    position: absolute
    right: 20px
    top: 0
    bottom: 0
    margin: auto
    pointer-events: none

  &.showed
    border-radius: 14px 14px 0 0
    border-bottom-color: transparent

    &::after
      border-bottom-color: $color-link-gray
      border-top-color: transparent

    + ul
      display: block

.course-items 
  &.all
    .course-item
      align-self: stretch
