.reviews
  &-section
    padding-top: 90px
    padding-bottom: 90px

    @media(max-width: 1366px)
      padding-top: 60px
      padding-bottom: 60px
    @media(max-width: $mxs)
      padding-top: 50px
      padding-bottom: 50px

    .splide__pagination
      position: static
      margin: 40px auto 0
      transform: unset

    h2
      font-family: 'Raleway', sans-serif
      font-size: 54px
      font-weight: 900
      line-height: 63px
      color: $color-link-gray

    @media(max-width: 1366px)
      font-size: 28px
      line-height: 33px
    @media(max-width: $mxs)
      font-size: 30px
      line-height: 35px
      text-align: center

  &-items

    .review
      position: relative

      &-image
        position: relative
        cursor: pointer
        border-radius: 18px
        overflow: hidden
        margin-bottom: 15px
        height: 400px

        @media(max-width: 1366px)
          height: 300px

        &::after,
        &::before
          content: ''
          position: absolute
          box-sizing: border-box
          z-index: 1

        &::before
          width: 46px
          height: 46px
          border: 2px solid #ffffff
          border-radius: 50%
          display: inline-block
          top: 31px
          left: 31px

        &::after
          display: inline-block
          width: 8px
          height: 22px
          border-style: solid
          border-width: 10px
          box-sizing: border-box
          border-color: transparent
          border-left-color: #fff
          top: 44px
          left: 50px

        &:hover
          &::after
            border-left-color: $color-pink
          &::before
            border-color: $color-pink

          img
            filter: none

        img
          width: 100%
          height: 100%
          object-fit: cover
          filter: brightness(0.5)
          transition: filter .3s

      &-name
        font-family: 'Raleway', sans-serif
        font-weight: normal
        font-size: 22px
        line-height: 26px
        color: $color-link-gray
        text-align: center