@import "../parts/vars"
@import "../parts/reviews"
@import "../parts/splide"
@import "../parts/blocks/faq"
@import "../parts/blocks/articles-sub"
@import "../parts/blocks/first-screen"
@import "../parts/blocks/grant-chance"
@import "../parts/blocks/partners-origin"
@import "../parts/blocks/mountains"
@import "../parts/blocks/career-steps"
@import "../parts/blocks/more-info"

.first-screen.video-bg

  .title-desc
    font-size: 18px
    line-height: 25px
    min-height: 110px
    color: #fbf9fa
    max-width: 500px
    margin-bottom: 60px

  button
    &[disabled]
      background: #C3BFC0 !important

.upcoming-courses
  padding-bottom: 60px

  .block-title
    font-weight: 600
    font-size: 24px
    line-height: 28px
    color: #fff
    margin-bottom: 25px

  .course
    display: inline-block
    position: relative
    padding-left: 40px

    &:before
      position: absolute
      content: ""
      background: url('../img/list-arrow.svg') no-repeat
      width: 17px
      height: 17px
      left: 0
      top: 4px

    .vacancy
      font-size: 12px
      color: #fff
      margin-top: 8px
      margin-bottom: 8px

      .vacancy-title
        display: inline-block
        background: rgba(255, 255, 255, 0.25)
        box-shadow: 0px 0px 25px rgb(0 0 0 / 5%)
        border-radius: 4px 0px 0px 4px
        padding: 6px 8px

      .vacancy-count
        margin-left: 2px
        display: inline-block
        background: rgba(255, 255, 255, 0.25)
        box-shadow: 0px 0px 25px rgb(0 0 0 / 5%)
        border-radius: 0px 4px 4px 0px
        padding: 6px 8px
        font-weight: 500

  a
    display: block
    text-decoration: none

  .time
    color: #fff

  .course-title
    color: $color-pink-hover
    display: block
    font-size: 16px
    font-weight: 600
    line-height: 1.5
    text-decoration: none

.login-form
  background-repeat: no-repeat
  background-size: cover
  max-width: 1593px
  width: 100%
  height: 388px
  color: #fff
  align-items: center
  margin: 56px auto 0 auto
  display: flex
  justify-content: flex-end

  @media (max-width: $lg)
    width: 100%
    height: 280px
    background: linear-gradient(90deg, rgba(142, 35, 121, 1) 0%, rgba(29, 9, 118, 1) 100%)

  &-text
    width: 412px
    font-weight: 600
    font-size: 24px
    margin-top: 80px
    margin-right: 105px
    line-height: 28px

    @media (max-width: $lg)
      width: 100%
      font-size: 18px
      margin-top: 0
      margin-right: 0
      padding: 0 25px

    a
      display: block
      width: 270px
      color: #fff
      text-decoration: none
      background: $color-pink
      border-radius: 5px
      font-size: 16px
      margin-top: 40px
      box-sizing: content-box
      padding: 20px 10px
      line-height: 19px
      text-align: center
      text-transform: uppercase
      transition: background .3s linear

      &:hover
        background: $color-pink-dark

.reviews
  margin: 88px 0 66px

.have-questions
  background: #fff
  margin: 120px auto
  padding: 70px 55px

  @media(max-width: $lg)
    padding: 30px 25px

  .form-result
    display: none

  form
    display: flex
    justify-content: space-between

    @media (max-width: $lg)
      flex-wrap: wrap

    input, button
      border-radius: 5px
      color: #787878
      display: block
      font-size: 18px
      padding: 12px 11px
      border: 1px solid #e1e1e1
      width: calc(25% - 30px)
      outline: none

      @media (max-width: $lg)
        margin-bottom: 10px
        width: 100%

    button
      cursor: pointer
      background: $color-pink-hover
      color: #fdf9fa
      transition: background .3s
      font-weight: 600

      &:hover
        background: $color-pink-dark

  &-title
    font-size: 24px
    line-height: 28px
    font-weight: 600
    color: #000
    margin-bottom: 30px

    @media (max-width: $sm)
      font-size: 15px
      line-height: normal

.has-courses
  color: #fff
  text-align: center
  max-width: 986px
  margin: 25px auto 0

  h1
    font-weight: 600
    font-size: 24px
    line-height: 1.5
    cursor: pointer

    &:after
      content: ""
      background: url(../img/white-arrow-active.svg) no-repeat
      background-size: contain
      width: 21px
      height: 13px
      display: inline-block
      margin-left: 12px
      transition: transform .3s

    &.open:after
      transform: rotate(180deg)

  &-content
    display: none
    text-align: left