

.lazyload, .preload-map, .mobile-menu, #burger-check, .dropdown-arrow
  display: none !important

.map-cities
  display: block !important


#burger-check:checked ~ .header-nav
  display: block !important

#burger
  display: block !important
  position: absolute
  top: 33px
  right: 29px
  opacity: 0

.about-sub
  display: flex
  margin-bottom: 30px

  a
    display: block
    color: #000
    background: #fdf2f4 !important
    padding: 15px 30px
    box-sizing: border-box
    text-decoration: none
    font-weight: bold
    margin-right: 30px

.render-deferred
  content-visibility: visible !important

#burger, #burger-check
  display: none !important


@media (max-width: 1199.98px)

  #burger
    display: block !important
    padding-right: 24px

  header .container .mobile-menu
    display: block !important
    padding-right: 24px
  
  header .header-nav
    background-color: #fff

  header.transparent:not(.opened):not(.sticked) nav ul a
    color: #222 !important
  
  header.transparent:not(.opened):not(.sticked) .mobile-menu
    filter: invert(100%) sepia(0) saturate(7499%) hue-rotate(297deg) brightness(112%) contrast(99%)